{% if ( post.author.name and post.author.description ) %}
	<div class="container clearfix">
		<footer class="author-block" itemtype="http://schema.org/Person">
			<div class="author-block-info">
				<h2 class="author-block-info-title">{{ __( 'about the author', 'planet4-master-theme' ) }}</h2>
				<h5 rel="author" class="author-block-info-name">
					<a href="{{ post.author.link }}" itemprop="name">{{ post.author.name }}</a>
				</h5>

				{% set author_bio_readmore %}
					...  &nbsp;<a href="{{ post.author.link }}">{{ __( 'Read More', 'planet4-master-theme' ) }}</a>
				{% endset %}

				{% if ( fn('wp_is_mobile') ) %}
					{% set author_bio_char_limit = 180 %}
				{% else %}
					{% set author_bio_char_limit = 300 %}
				{% endif %}

				{% set author_bio = fn('substr', post.author.description, 0, fn('strpos', post.author.description ,' ', author_bio_char_limit)) %}
				{% set author_bio = post.author.description|length > author_bio_char_limit ? author_bio ~ author_bio_readmore : author_bio %}

				<p class="author-block-info-bio" itemprop="description">
					{{ fn('wpautop', author_bio)|e('wp_kses_post')|raw }}
				</p>

			</div>
			<figure class="author-block-image">
				{% if ( post.author.avatar ) %}
					<img itemprop="image" class="author-pic"
						 src="{{ fn('get_avatar_url', post.author.id, {'size' : 294}) }}"
						 alt="{{ post.author.name }}">
				{% endif %}
			</figure>
		</footer>
</div>
{% endif %}
