<div class="container clearfix">
	<footer class="author-block" itemtype="http://schema.org/Person">
		<div class="author-block-info">
			<h2 class="author-block-info-title">{{ __('about the author', 'planet4-master-theme') }}</h2>
			<h5 rel="author" class="author-block-info-name">{{ post.author.name }}</h5>
			<p class="author-block-info-bio" itemprop="description">
				{{ post.author.description }}
			</p>
		</div>
		<figure class="author-block-image">
			{% if ( post.author.avatar ) %}
				<img itemprop="image" class="author-pic" src="{{ post.author.avatar }}" alt="{{ post.author.name }}">
			{% endif %}
		</figure>
	</footer>
</div>