{% block happy_point %}
	{% if ( fields ) %}
		<section class="block block-footer block-wide happy-point-block-wrap">
			<picture>
				<img src="{{ fields.background_src.0|default(fields.default_image) }}"
					 style="object-position:{{ fields.focus_image }};opacity:{{ fields.opacity }};"
					 border="0"
					 srcset="{{ fields.background_srcset }}"
					 sizes="{{ fields.background_sizes }}"
					 alt="{{ fields.background_alt }}"
				/>
			</picture>
			<div class="container">
				<div class="row justify-content-md-center">
					{% if ( fields.mailing_list_iframe == 'true' or fields.iframe_url ) %}
						{% if ( fields.iframe_url ) %}
							{% set url = fields.iframe_url %}
						{% else %}
							{% set url = fields.engaging_network_id %}
						{% endif %}
						<div class="col-md-10 happy-point" id="happy-point" data-src="{{ url }}">
						</div>
					{% endif %}
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
