{% if ( header_title ) %}
	<div class="skewed-overlay"></div>
	<div class="page-header">
		{% if ( background_image ) %}
			<div class="page-header-background">
				<img src="{{ background_image }}" class="page-header-image" />
			</div>
		{% endif %}
		<div class="container">
			{% if ( issue or campaigns ) %}
				<div class="top-page-tags">
					{% if ( issue ) %}
						<a class="tag-item tag-item--main" href="{{ issue.link|default('#') }}">{{ issue.name|e('wp_kses_post')|raw }}</a>
					{% endif %}

					{% if ( campaigns ) %}
						{% for campaign in campaigns %}
							<a class="tag-item " href="{{ campaign.link|default('#') }}">#{{ campaign.name|e('wp_kses_post')|raw }}</a>
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
			<h1 class="page-header-title">{{ header_title|e('wp_kses_post')|raw }}</h1>
			{% if ( header_subtitle ) %}
				<h3 class="page-header-subtitle">{{ header_subtitle }}</h3>
			{% endif %}
			{% if ( header_description ) %}
				<p class="page-header-content">{{ header_description|e('wp_kses_post')|raw }}</p>
			{% endif %}
			{% if ( header_button_title and header_button_link ) %}
				<div class="row">
					<div class="col-md-4">
						<a href="{{ header_button_link }}" class="btn btn-primary btn-medium page-header-btn">{{ header_button_title }}</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
