{% if ( header_title ) %}
	<div class="skewed-overlay"></div>
	{% set page_header_show = ( header_subtitle or header_description or hide_page_title_checkbox != 'on' )  %}
	<div class="page-header {% if not page_header_show %}page-header-hidden{% endif %}">
		{% if ( background_image ) %}
			<div class="page-header-background">
				<img src="{{ background_image }}"
					{% if ( background_image_srcset ) %}
						srcset="{{ background_image_srcset }}"
					 {% endif %}
					 class="page-header-image" />
			</div>
		{% endif %}
		<div class="container">
			{% if hide_page_title_checkbox != 'on' and ( post.issues_nav_data or campaigns ) %}
				<div class="top-page-tags">
					{% if ( post.issues_nav_data ) %}
						<div class="tag-wrap issues">
							{% for issue in post.issues_nav_data %}
								<a class="tag-item tag-item--main" href="{{ issue.link|default('#') }}">{{ issue.name|e('wp_kses_post')|raw }}</a>
							{% endfor %}
						</div>
					{% endif %}

					{% if ( campaigns ) %}
						<div class="tag-wrap issues">
							{% for campaign in campaigns %}
								<a class="tag-item tag" href="{{ campaign.link|default('#') }}">#{{ campaign.name|e('wp_kses_post')|raw }}</a>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endif %}
			{% if hide_page_title_checkbox != 'on' %}
				<h1 class="page-header-title">{{ header_title|e('wp_kses_post')|raw }}</h1>
			{% endif %}
			{% if not post.password_required %}
				{% if hide_page_title_checkbox != 'on' and ( post.is_take_action_page ) %}
					{% include "blocks/share_buttons.twig" with {social:post.share_meta} %}
				{% endif %}
				{% if ( header_subtitle ) %}
					<h3 class="page-header-subtitle">{{ header_subtitle }}</h3>
				{% endif %}
				{% if ( header_description ) %}
					<div class="page-header-content">{{ header_description|e('wp_kses_post')|raw }}</div>
				{% endif %}
				{% if ( header_button_title and header_button_link ) %}
					<div class="row">
						<div class="col-md-12">
							<a href="{{ header_button_link }}"
									{% if ( header_button_link_checkbox ) %}
										target="_blank"
									{% endif %}
							class="btn btn-primary btn-medium page-header-btn">{{ header_button_title }}</a>
						</div>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endif %}
