{% if ( header_title ) %}
    {% if not hide_background %}
        <div class="skewed-overlay"></div>
    {% endif %}
    {% set page_header_show = ( header_subtitle or header_description or not hide_page_title )  %}
    <div class="page-header {% if not page_header_show %}page-header-hidden{% endif %}">
        {% if ( background_image and not hide_background ) %}
            <div class="page-header-background">
                <img src="{{ background_image }}"
                    {% if ( background_image_srcset ) %}
                        srcset="{{ background_image_srcset }}"
                     {% endif %}
                     class="page-header-image" />
            </div>
        {% endif %}
        <div class="container">
            {% if not hide_page_title and ( post.issues_nav_data or campaigns ) %}
                <div class="top-page-tags">
                    {% if ( post.issues_nav_data ) %}
                        <div class="tag-wrap issues">
                            {% for issue in post.issues_nav_data %}
                                <a
                                    class="tag-item tag-item--main"
                                    href="{{ issue.link|default('#') }}"
                                    data-ga-category="Header"
                                    data-ga-action="Category Tag"
                                    data-ga-label="n/a">
                                        {{ issue.name|e('wp_kses_post')|raw }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if ( post.issues_nav_data and campaigns ) %}
                        <span class="tag-wrap-bullet" aria-hidden="true">&#8226;</span>
                    {% endif %}

                    {% if ( campaigns ) %}
                        <div class="tag-wrap issues">
                            {% for campaign in campaigns %}
                                <a
                                    class="tag-item tag"
                                    href="{{ campaign.link|default('#') }}"
                                    data-ga-category="Header"
                                    data-ga-action="Navigation Tag"
                                    data-ga-label="n/a">
                                        <span aria-label="hashtag">#</span>{{ campaign.name|e('wp_kses_post')|raw }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if not hide_page_title %}
                <h1 class="page-header-title">{{ header_title|e('wp_kses_post')|raw }}</h1>
            {% endif %}
            {% if not hide_page_title and ( post.is_take_action_page ) %}
                {% include "blocks/share_buttons.twig" with {social:post.share_meta} %}
            {% endif %}
            {% if ( header_subtitle ) %}
                <h3 class="page-header-subtitle">{{ header_subtitle }}</h3>
            {% endif %}
            {% if ( header_description ) %}
                <div class="page-header-content">{{ header_description|e('wp_kses_post')|raw }}</div>
            {% endif %}
            {% if ( header_button_title and header_button_link ) %}
                <div class="row">
                    <div class="col-md-12">
                        <a
                            href="{{ header_button_link }}"
                        {% if ( header_button_link_checkbox ) %}
                            target="_blank"
                        {% endif %}
                            class="btn btn-primary page-header-btn"
                            data-ga-category="Header"
                            data-ga-action="Call to Action"
                            data-ga-label="n/a">
                                {{ header_button_title }}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
