{% if ( header_title ) %}
	<div class="clearfix page-content-wrap">
		<div class="fixed-element clearfix">
			<div class="container">
				<div class="page-header">
					<div class="top-tags-wrap">
						{% if ( issue ) %}
							<a class="category_link category-topic-title" href="{{ issue.link|default('#') }}">{{ issue.name|e('wp_kses_post')|raw }}</a>
							<span class="category-topic-title-seprater"></span>
						{% endif %}
						{% if ( campaigns ) %}
							{% for campaign in campaigns %}
								<a href="{{ campaign.link }}">#{{ campaign.name|e('wp_kses_post')|raw }}</a>
							{% endfor %}
						{% endif %}
					</div>
					<h1>{{ header_title }}</h1>
					{% if ( header_subtitle ) %}
						<h3>{{ header_subtitle }}</h3>
					{% endif %}
					{% if ( header_description ) %}
						<p>{{ header_description }}</p>
					{% endif %}
					{% if ( header_button_title ) %}
						<div class="row clearfix">
							<div class="col-md-4">
								<a href="{{ header_button_link }}" class="btn btn-small btn-medium btn-primary btn-block">{{ header_button_title }}</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endif %}
