{% set socialLink = social.link ~ '?utm_medium=' ~ utm_medium ~ utm_content_param ~ utm_campaign_param %}
<div class="share-buttons">
	<!-- Whatsapp -->
	<a href="https://wa.me/?text={{ (socialLink ~ '&utm_source=whatsapp')|url_encode }}"
		 onclick="dataLayer.push({'event' : 'uaevent', 'eventCategory' : 'Social Share', 'eventAction': 'Whatsapp', 'eventLabel': '{{ social.link }}'});"
		 target="_blank" class="share-btn whatsapp">
		{{ 'whatsapp'|svgicon }}
		<span class="visually-hidden">{{ __( 'Share on', 'planet4-master-theme' ) }} Whatsapp</span>
	</a>
	<!-- Facebook -->
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ (socialLink ~ '&utm_source=facebook')|url_encode }}"
		 onclick="dataLayer.push({'event' : 'uaevent', 'eventCategory' : 'Social Share', 'eventAction': 'Facebook', 'eventLabel': '{{ social.link }}'});"
		 target="_blank" class="share-btn facebook">
		{{ 'facebook-f'|svgicon }}
		<span class="visually-hidden">{{ __( 'Share on', 'planet4-master-theme' ) }} Facebook</span>
	</a>
	<!-- Twitter -->
	<a href="https://twitter.com/intent/tweet?related={{ social_accounts.twitter }}&text={{ social.title|url_encode }}{% if social.description %} - {{ social.description|striptags|url_encode }}{% endif %}, via @{{ social_accounts.twitter }}&url={{ (socialLink ~ '&utm_source=twitter')|url_encode }}"
		 onclick="dataLayer.push({'event' : 'uaevent', 'eventCategory' : 'Social Share', 'eventAction': 'Twitter', 'eventLabel': '{{ social.link }}'});"
		 target="_blank" class="share-btn twitter">
		{{ 'twitter'|svgicon }}
		<span class="visually-hidden">{{ __( 'Share on', 'planet4-master-theme' ) }} Twitter</span>
	</a>
	<!-- Email -->
	<a href="mailto:?subject={{ social.title|url_encode }}&body={% if social.description %}{{ social.description|striptags|url_encode }} {% endif %}{{ (socialLink ~ '&utm_source=email')|url_encode }}"
		 onclick="dataLayer.push({'event' : 'uaevent', 'eventCategory' : 'Social Share', 'eventAction': 'Email', 'eventLabel': '{{ social.link }}'});"
		 target="_blank" class="share-btn email">
		{{ 'envelope'|svgicon }}
		<span class="visually-hidden">{{ __( 'Share via', 'planet4-master-theme' ) }} Email</span>
	</a>
</div>
