<div class="share-buttons">
	<!-- Facebook -->
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}"
		 onclick="dataLayer.push({'event' : 'uaevent', 'eventCategory' : 'Social Share', 'eventAction': 'Facebook', 'eventLabel': '{{ post.link }}'});"
		 target="_blank" class="share-btn facebook">
		<i class="fa fa-facebook"></i>
		<span class="sr-only">{{ __( 'Share on' ) }} Facebook</span>
	</a>
	<!-- Twitter -->
	<a href="https://twitter.com/share?url={{ post.link }}&text={{ post.title|raw }} via @{{ social_accounts.twitter }}&related={{ social_accounts.twitter }}"
		 onclick="dataLayer.push({'event' : 'uaevent', 'eventCategory' : 'Social Share', 'eventAction': 'Twitter', 'eventLabel': '{{ post.link }}'});"
		 target="_blank" class="share-btn twitter">
		<i class="fa fa-twitter"></i>
		<span class="sr-only">{{ __( 'Share on' ) }} Twitter</span>
	</a>
	<!-- Email -->
	<a href="mailto:?subject={{ post.title }}&body={{ post.link }}"
		 onclick="dataLayer.push({'event' : 'uaevent', 'eventCategory' : 'Social Share', 'eventAction': 'Email', 'eventLabel': '{{ post.link }}'});"
		 target="_blank" class="share-btn email">
		<i class="fa fa-envelope"></i>
		<span class="sr-only">{{ __( 'Share via' ) }} Email</span>
	</a>
</div>
