{% block spreadsheet %}

	{% if ( sheet ) %}
		<div class="block-spreadsheet" {% include "css_variables.twig" with css_variables %}>
			<div class="form-inline">
				<input class="spreadsheet-search form-control" type="text" placeholder="{{ __('Search data', 'planet4-blocks') }}"/>
			</div>
			<div class="table-wrapper">
				<table class="spreadsheet-table">
					<thead>
						<tr>
							{% for cell in sheet.header %}
								<th title="{{ __('Sort by', 'planet4-blocks') }}">{{ cell|escape }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
					{% for rowNumber, row in sheet.rows %}
						<tr data-order="{{ rowNumber }}">
							{% for cell in row %}
								<td>{{ cell|escape }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="spreadsheet-empty-message">{{ __('No data matching your search.', 'planet4-blocks') }}</div>
		</div>
	{% endif %}

{% endblock %}
