<title>
    {% if post.password_required %}
        {{ site.name }}
        {% set post_tags = '' %}
    {% elseif og_title %}
        {{ og_title|e('esc_html')|raw }} - {{ site.name }}
    {% elseif wp_title %}
        {{ wp_title|e('esc_html')|raw }} - {{ site.name }}
    {% else %}
        {{ site.name }}
    {% endif %}
</title>
