{% set container_id = is_modal ? 'item-modal-action' : 'item-action' %}
{% set input_class = is_modal ? 'modal-checkbox' : '' %}

{% if ( action_types|length > 0 ) %}
<div class="filteritem">
    <a data-bs-toggle="collapse" href="#{{ container_id }}" class="{{ collapsed }}" aria-expanded="{{ expanded }}">
        {{ __( 'Action Type', 'planet4-master-theme' ) }} <span></span>
    </a>
    <div id="{{ container_id }}" class="collapse {{ show }}" role="tabpanel">
        <ul class="list-unstyled">
            {% for id, action_type in action_types %}
                {% if (action_type.results > 0) or (not has_aggregation) %}
                <li>
                    <label class="custom-control">
                        <input
                            type="checkbox"
                            name="f[atype][{{ action_type.name }}]"
                            value="{{ id }}"
                            class="p4-custom-control-input {{ input_class }}"
                            data-ga-category="Search Page"
                            data-ga-action="Content Filter"
                            data-ga-label="{{ action_type.name|e('wp_kses_post')|raw }}"
                            aria-label="{{__('Filter results by action type %s, %d results were found', 'planet4-master-theme')|format(action_type.name, action_type.results)}}"
                            {{ action_type.checked }} />
                        <span class="custom-control-description">{{ action_type.name }} {{ action_type.results > 0 ? '('~action_type.results~')' : '' }}</span>
                    </label>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
