<div class="active-filter">
    <h5>{{ __( 'Active filters', 'planet4-master-theme' ) }}</h5>
    <div class="activefilter-list">
        {% for filter_type in filters %}
            {% for filter in filter_type %}
                <button aria-label="{{__('Remove %s filter', 'planet4-master-theme')|format(filter.name)}}" class="activefilter-tag" data-id="{{ filter.id }}">
                    {{ filter.name|e('wp_kses_post')|raw }}
                    <i class="icon-cross">{{ 'times'|svgicon }}</i>
                </button>
            {% endfor %}
        {% endfor %}
        <button class="btn clearall">{{ __( 'Clear all', 'planet4-master-theme' ) }}
            <i class="icon-cross"></i>
        </button>
    </div>
</div>
