<div id="filter-sidebar-options" class="d-none d-lg-block">
	<h4>{{ __( 'Refine your search', 'planet4-master-theme' ) }}</h4>
	{% if ( filters ) %}
		<div class="active-filter">
			<h5>{{ __( 'Active filters', 'planet4-master-theme' ) }}</h5>
			<div class="activefilter-list">
				{% for filter_type in filters %}
					{% for filter in filter_type %}
						<button aria-label="{{__('Remove %s filter', 'planet4-master-theme')|format(filter.name)}}" class="activefilter-tag" data-id="{{ filter.id }}">
							{{ filter.name|e('wp_kses_post')|raw }}
							<i class="icon-cross">{{ 'times'|svgicon }}</i>
						</button>
					{% endfor %}
				{% endfor %}
				<button class="btn btn-secondary clearall">{{ __( 'Clear all', 'planet4-master-theme' ) }}
					<i class="icon-cross"></i>
				</button>
			</div>
		</div>
	{% endif %}
	{% include 'search/filters/categories.twig' with {'is_modal': false} %}
	{% include 'search/filters/post_types.twig' with {'is_modal': false} %}
	{% include 'search/filters/action_types.twig' with {'is_modal': false} %}
	{% include 'search/filters/content_types.twig' with {'is_modal': false} %}
</div>
