{% extends "base.twig" %}

{% block content %}
	<div class="skewed-overlay"></div>
	<div class="page-header">
		<div class="page-header-background">
			<img src="{{ page_notfound_image }}" class="page-header-image" />
		</div>
		<div class="container">
			<div class="speech-bubble">
				<h2>{{ page_notfound_title }}</h2>
				<h3 style="font-weight: normal;">{{ page_notfound_subheader }}</h3>
				<br>
				<p>{{ page_notfound_description }}</p>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ page_notfound_help }}
					<form class="form search-form" action="{{ data_nav_bar.home_url }}">
						<input class="form-control" placeholder="Search" name="s" aria-label="Search" type="text">
						<button class="search-form-btn" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
