{% extends "base.twig" %}

{% block content %}
    <header class="page-header container">
        {% if ( author.avatar ) %}
            <figure class="author-image" aria-label="{{ __( 'Picture of ' ~ author.name , 'planet4-master-theme' ) }}">
                <img itemprop="image" class="author-pic"
                     src="{{ fn('get_avatar_url', author.id, {'size' : 300}) | replace({'=s96-c':""}) }}"
                     alt="{{ author.name }}">
            </figure>
        {% endif %}
        <div class="author-details">
            <h1 class="page-header-title">{{ author.name }}</h1>
            {% if ( author.description ) %}
                <p class="d-md-block author-bio" aria-label="{{ __( 'Author bio', 'planet4-master-theme' ) }}">{{ fn('wpautop', author.description)|e('wp_kses_post')|raw }}</p>
            {% endif %}
        </div>
    </header>

    {% include 'listing-page.twig' with {
        listing_page_title: __( 'All articles by ', 'planet4-master-theme' ) ~ author.name
    } %}
{% endblock %}
