{% block html_head_container %}
{% include 'html-header.twig' %}
{% endblock %}

{% set mobile_tabs_class = mobile_tabs_menu ? 'with-mobile-tabs' : '' %}

<body
    class="{{ body_class }} {{ custom_body_classes|default("") }} {{ mobile_tabs_class }}"
    data-nro="{{ site.link }}"
    data-post-type="{{ fn( 'get_post_type' ) }}"
    data-post-categories="{{ fn( 'get_the_category')|map(cat => cat.term_id)|join(',') }}"
>
    {% if google_tag_value %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://{{ google_tag_domain }}/ns.html?id={{ google_tag_value }}"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <ul class="skip-links">
        <li><a href="#header">{{ __( 'Skip to Navigation', 'planet4-master-theme' ) }}</a></li>
        <li><a href="#content">{{ __( 'Skip to Content', 'planet4-master-theme' ) }}</a></li>
        <li><a href="#footer">{{ __( 'Skip to Footer', 'planet4-master-theme' ) }}</a></li>
    </ul>

    {% if custom_styles.nav_type == 'minimal' %}
        {% include 'navigation-bar_min.twig' with data_nav_bar %}
    {% else %}
        {% include 'navigation-bar.twig' with data_nav_bar %}
    {% endif %}
    {% include 'sidebar.twig' with data_nav_bar %}

    {% block content %}
        Sorry, no content
    {% endblock %}

    {% if sidebar %}
        <aside class="layout-sidebar">
            {{sidebar}}
        </aside>
    {% endif %}

    {% block footer %}
        {% include 'footer.twig' with { 'nav_type' : custom_styles.nav_type } %}

        {% block cookies %}
            {% include 'cookies.twig' %}
        {% endblock %}

        {{ function('wp_footer') }}
        {% include 'hubspot_tracking_code.twig' %}
    {% endblock %}
</body>
</html>
