<div class="blog-comment {{ comment.comment_type }}" id="blog-comment-{{ comment.ID }}">
	<div class="comment-content">{{ comment.comment_content|wpautop|raw }}</div>
	<span class="comment-author">{{ comment.author.name }} </span>&nbsp; / &nbsp;
	<span class="comment-date">{{ comment.date }} </span>
</div>