<article class="single-comment {{ comment.comment_type }}" id="comment-{{ comment.ID }}">
    <p itemprop="commentText" class="single-comment-text">{{ comment.comment_content|raw }}</p>
    <footer class="single-comment-meta">
        <span class="author-info" itemprop="author">{{ comment.comment_author }}</span>
        <time datetime="" class="comment-date" itemprop="commentTime">{{ comment.date }}</time>
        {{ comment.reply_link|raw }}
    </footer>
</article>
{% for cmt in comment.children %}
    {% include "child_comments.twig" with {comment:cmt, index: loop.index} %}
{% endfor %}
