{% extends "base.twig" %}

{% block content %}

	<div class="clearfix"></div>
	<div class="skewed-overlay"></div>

	<article id="page-{{ page.ID }}">

		<header class="page-header">
			<div class="page-header-background">
				{#<img src="{{ background_image }}" class="page-header-image" alt="Image alt data"/>#}
			</div>
			<div class="container">
				<div class="top-page-tags">
					<a class="tag-item tag-item--main" href="#">{{ __('page') }}</a>
					{% for tag in page.tags %}
						<a class="tag-item " href="{{ tag.link }}">#{{ tag.title }}</a>
					{% endfor %}
				</div>
				<h1 class="page-header-title">{{ page.title|raw }}</h1>
				<div class="single-post-meta">
					<address class="single-post-author">{{ __( 'by', 'planet4-master-theme' ) }} <a href="{{ page.author.path }}">{{ page.author.name }}</a></address>
					<time class="single-post-time" pubdate>{{ page.post_date|date }}</time>
				</div>
			</div>
		</header>

		<div class="container">
			<div class="post-content">
				<div class="row">
					<div class="col-lg-12">
						<article class="post-details">
							{{ page.content|e('wp_kses_post')|raw }}
						</article>
					</div>
				</div>
			</div>
		</div>
	</article>
{% endblock %}
