<script type="text/html" id="tmpl-en-fields">
    <h2 class="page-header">{{ __('List of fields', 'planet4-gutenberg-engagingnetworks') }}</h2>
    <p>
    <div class="hidden" id="en_loader">
        <img src="/wp-admin/images/wpspin_light-2x.gif"/>
    </div>
    </p>
    <h5><%= col.length %> {{ __('fields defined', 'planet4-gutenberg-engagingnetworks') }}</h5>
    <ul class="media-list row fields-container"></ul>
    <br>
    <p class="">
        <a href="#fields/new" class="btn button button-primary">{{ __('Add New Field', 'planet4-gutenberg-engagingnetworks') }}</a>
        <button class="btn button reload-fields">{{ __('Reload', 'planet4-gutenberg-engagingnetworks') }}</button>
    </p>
    <div id="new-field-div"></div>
</script>

<script type="text/html" id="tmpl-en-field">
    <div>
        <h3>
            <%- name %>
            <span>
                <a href="#fields/edit/<%- id %>"><span class="dashicons dashicons-edit field-dashicon"></span></a>
                <a href="#fields" class="delete-field"><span class="dashicons dashicons-trash field-dashicon"></span></a>
            </span>
        </h3>
    </div>
    <div class="media-body">
        <dl>
            <dt>{{ __('Mandatory', 'planet4-gutenberg-engagingnetworks') }}:</dt>
            <dd><input type="checkbox" disabled="disabled" class="form-control" <% print( mandatory ?  'checked': '') %>></dd>
            <dt>{{ __('Label', 'planet4-gutenberg-engagingnetworks') }}:</dt>
            <dd><%- label %></dd>
            <dt>{{ __('Type', 'planet4-gutenberg-engagingnetworks') }}:</dt>
            <dd><%- type %></dd>
        </dl>
    </div>
</script>

<script type="text/html" id="tmpl-new-en-field">
    <hr>
    <h4><%= id <= 0 ? 'Create Field' : 'Edit Field ' + name %> </h4>
    <form role="form" class="form-horizontal field-form">
        <div class="form-group">
            <label class="col-md-3 control-label">{{ __('Field name', 'planet4-gutenberg-engagingnetworks') }}:</label>
            <div class="col-md-3">
                <input type="text" class="form-control field-name-input" value="<%- name %>" id="en_field_name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{ __('Is Mandatory', 'planet4-gutenberg-engagingnetworks') }}:</label>
            <div class="col-md-3">
                <input type="checkbox" class="form-control field-mandatory-checkbox" id="en_field_mandatory" <% print( mandatory ?  'checked': '') %>>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{ __('Label', 'planet4-gutenberg-engagingnetworks') }}:</label>
            <div class="col-md-3">
                <input type="text" class="form-control field-label-input" value="<%- label %>" id="en_field_label">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{ __('Type', 'planet4-gutenberg-engagingnetworks') }}:</label>
            <div class="col-md-3">
                <select class="form-control field-type-select" id="en_field_type">
                    <option value="0">--Select--</option>
                    <option value="text" <% print( type == 'text' ?  'selected': '') %>>Text</option>
                    <option value="country" <% print( type == 'country' ?  'selected': '') %>>Country selector</option>
                    <option value="question" <% print( type == 'question' ?  'selected': '') %>>Question</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <button class="button button-primary <%= id <= 0 ? 'add-field' : 'edit-field' %>"  <%= id > 0 ? 'data-id="' + id +'"' : '' %>>{{ __('Submit') }}</button>
                <a href="#fields" class="button">{{ __('Cancel') }}</a>
            </div>
        </div>
    </form>
</script>