<footer class="site-footer">
	<div class="container">
		<ul class="footer-social-media list-unstyled col-md-8 col-lg-5">
			{% for social in footer_social_menu %}
				<li><a href="{{ social.url }}"><i class="{% for class_name in social.classes %}{{ class_name }} {% endfor %}"></i></a></li>
			{% endfor %}
		</ul>

		<ul class="list-unstyled footer-links">
			{% for primary in footer_primary_menu %}
				<li><a href="{{ primary.url }}">{{ primary.title }}</a></li>
			{% endfor %}
		</ul>

		<ul class="list-unstyled footer-links-secondary">
			{% for secondary in footer_secondary_menu %}
				<li><a href="{{ secondary.url }}">{{ secondary.title }}</a></li>
			{% endfor %}
		</ul>

		<p class="copyright-text col-md-8">
			{{ copyright_text_line1|e('wp_kses_post')|raw }}
		</p>
		<p class="gp-year"><i class="fab fa-creative-commons"></i> {{ copyright_text_line2|e('wp_kses_post')|raw }} {{"now"|date('Y')}}</p>
	</div>
</footer>
