<footer class="site-footer" id="footer">
	<div class="container">
		<ul class="footer-social-media list-unstyled col-md-8 col-lg-5">
			{% if social_overrides is defined and social_overrides|length %}
				{% for social in social_overrides %}
					<li>
						<a href="{{ social.url }}">
							{{ social.icon|svgicon }}
							<span class="sr-only">{{ social.icon }}</span>
						</a>
					</li>
				{% endfor %}
			{% else %}
				{% for social in footer_social_menu %}
					{% set name = "" %}
					{% for class_name in social.classes %}
						{% if 'fa-' in class_name %}
							{% set name = class_name[3:] %}
						{% else %}
							{% set name = class_name %}
						{% endif %}
					{% endfor %}
					<li>
						{% set social_url = social.url %}
						<a href="{{ social_url }}">
							{{ name|svgicon }}
							<span class="sr-only">{{ social.title }}</span>
						</a>
					</li>
				{% endfor %}
			{% endif %}
		</ul>

		<ul class="list-unstyled footer-links">
			{% for primary in footer_primary_menu %}
				<li><a href="{{ primary.url }}">{{ primary.title }}</a></li>
			{% endfor %}
		</ul>

		<ul class="list-unstyled footer-links-secondary">
			{% for secondary in footer_secondary_menu %}
				<li><a href="{{ secondary.url }}">{{ secondary.title }}</a></li>
			{% endfor %}
		</ul>

		<p class="copyright-text col-md-8">
			{{ copyright_text_line1|e('wp_kses_post')|raw }}
		</p>
		<p class="gp-year">
			{{ 'creative-commons'|svgicon }}
			{{ copyright_text_line2|e('wp_kses_post')|raw }} {{"now"|date('Y')}}
		</p>
	</div>
</footer>
