<footer id="footer" class="site-footer site-footer--{{ nav_type ?? 'default' }}">
	<div class="container site-footer__container">
		{% include 'footer_social_media.twig' %}
		<ul class="site-footer__footer-links list-unstyled">
			{% for primary in footer_primary_menu %}
				<li>
					<a href="{{ primary.url }}"
							data-ga-category="Footer Navigation"
							data-ga-action="Primary Links"
							data-ga-label="{{ primary.title }}">
						{{ primary.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
		
		<ul class="site-footer__footer-links list-unstyled">
			{% for secondary in footer_secondary_menu %}
				<li>
					<a href="{{ secondary.url }}"
						data-ga-category="Footer Navigation"
						data-ga-action="Secondary Links"
						data-ga-label="{{ secondary.title }}">
						{{ secondary.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="site-footer__copyright">
		<div class="container site-footer__copyright-wrapper">
			<span class="site-footer__copyright-text" role="text">
				{{ 'creative-commons'|svgicon }}
				{{ copyright_text_line2|e('wp_kses_post')|raw }} {{"now"|date('Y')}}
			</span>
			<span class="site-footer__copyright-text" role="text">
				{{ copyright_text_line1|e('wp_kses_post')|raw }}
			</span>
		</div>
	</div>
</footer>
