<!DOCTYPE html>
<html {{ fn('language_attributes', 'html') }}>
<head>
	<meta charset="{{ site.charset }}">
	<title>{% if wp_title %}{{ wp_title|e('esc_html')|raw }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">

	{% if post %}
		{% set description = post.post_excerpt %}
		{% set image_data  = post_image_id ? fn( 'wp_get_attachment_image_src', post_image_id, 'full' ) : [] %}
	{% elseif tag %}
		{% set description = tag.description %}
		{% set image_data  = tag_image_id ? fn( 'wp_get_attachment_image_src', tag_image_id, 'full' ) : [] %}
	{% endif %}

	<meta property="og:title" content="{% if wp_title %}{{ wp_title|raw }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ current_url }}" />
	<meta property="og:description" content="{{ description|e('esc_html')|raw }}" />
	<meta property="og:image" content="{{ image_data[0] }}" />
	<meta property="og:image:width" content="{{ image_data[1] }}" />
	<meta property="og:image:height" content="{{ image_data[2] }}" />
	<meta property="og:site_name" content="{{ site.name }}" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="{{ site.name }}" />
	<meta name="twitter:title" content="{% if wp_title %}{{ wp_title|raw }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}">
	<meta name="twitter:description" content="{{ description|e('esc_html')|raw }}">
	<meta name="twitter:creator" content="{{ author_override ?? fn( 'get_the_author_meta', 'display_name', post.post_author ) }}">
	<meta name="twitter:image" content="{{ image_data[0] }}">

	{% if google_tag_value %}
	<script>
          var cookie_consent = document.cookie.split(';').filter(function(c) {return c.indexOf('greenpeace=2') >= 0}).length;
          var google_tag_value = '{{ google_tag_value }}';
          var enforce_cookies_policy = '{{ enforce_cookies_policy }}';

          if ( enforce_cookies_policy && 1 !== parseInt( cookie_consent ) ) {
            google_tag_value = '';
          }

          if ( google_tag_value ) {
			window.dataLayer = window.dataLayer || [];
			dataLayer.push({
				'pageType' : '{{ page_category }}',
				'signedIn' : 'false',
				'visitorType' : '',
				'userID' : ''
			});
          }
        </script>
        <script>
          if ( google_tag_value ) {
                (function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({
                        'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                    });
                    var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', google_tag_value);
          }
        </script>
	{% endif %}

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="pingback" href="{{ site.pingback_url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
	{{ wp_head }}
</head>
