<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
<head>
	<meta charset="{{ site.charset }}">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{% if wp_title %}{{ wp_title }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    {% if google_tag_value %}
		<script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '{{ google_tag_value }}');
		</script>
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="pingback" href="{{ site.pingback_url }}">
	{{ wp_head }}
