{% include "featured-posts.twig" %}

<div class="page-content container" id="content">
    <div class="wp-block-separator is-style-wide listing-page-separator"></div>
    <div class="d-flex align-items-center justify-content-between listing-page-title">
        {% if fn('is_home') %}
            {% include 'listing-page-filters.twig' %}
        {% else %}
            <h2>{{ listing_page_title ?? __( 'All articles', 'planet4-master-theme' ) }}</h2>
        {% endif %}
        {% if layout == 'list' %}
            <span class="grid-view-toggle" title="{{__( 'Grid layout', 'planet4-master-theme' ) }}">
                {{ 'grid-view'|svgicon }}
            </span>
        {% else %}
            <span class="list-view-toggle" title="{{__( 'List layout', 'planet4-master-theme' ) }}">
                {{ 'list-view'|svgicon }}
            </span>
        {% endif %}
    </div>
    <div>{{ listing_page_content|raw }}</div>
</div>
