{% block navigation_bar %}
	<nav id="header" class="top-navigation navbar">
		<a class="site-logo" href="{{ data_nav_bar.home_url }}">
			{% include 'blocks/site_logo.twig' %}
		</a>


		<form id="search_form" action="{{ data_nav_bar.home_url }}" class="form nav-item nav-search-wrap">
			<input type="text" class="form-control" placeholder="{{ __( 'Search', 'planet4-master-theme' ) }}"
				   value="{{ data_nav_bar.search_query|e('wp_kses_post')|raw }}" name="s" aria-label="{{ { __( 'Search', 'planet4-master-theme' ) }} }}">
			<input id="orderby" type="hidden" name="orderby" value="{{ selected_sort ?? default_sort }}"/>
			<button class="top-nav-search-btn" type="submit">
				<i class="fa fa-search"></i>
				<span class="screen-reader-text">{{ __( 'Search', 'planet4-master-theme' ) }}</span>
			</button>
		</form>
	</nav>
{% endblock %}
