<nav class='nav-submenu'>
    <ul>
    {% for key,item in menu.children %}
        <li class="nav-item {{ item.class }} {{ item == item.current ? 'active' : '' }}">
            {% if fn('get_post_meta', item.ID, '_menu_item_object_id', true ) == act_page_id %}
                {% set link_ga_action = 'Act' %}
            {% elseif fn('get_post_meta', item.ID, '_menu_item_object_id', true ) == explore_page_id %}
                {% set link_ga_action = 'Explore' %}
            {% else %}
                {% set link_ga_action = item.title %}
            {% endif %}
            <a
                class="nav-link"
                href="{{ item.link }}"
                target="{{ item.target }}"
                data-ga-category="Submenu Navigation"
                data-ga-action="{{ item.title }}"
                data-ga-label="{{ page_category }}">
                    {{ item.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
</nav>
