{% block navigation_bar %}
    <div id="header" class="top-navigation fixed-top">
        <!-- Main container for main headline -->
        <div class="container-fluid">
            <div class="row">
                <div class="navbar navbar-toggleable-md navbar-light">
                    <div class="mobile-header-wrap hidden-lg-up row">
                        <div class="col text-left">
                            <span class="menu">
                                {{ __( 'Menu', domain ) }}
                                <i class="fa fa-bars"></i>
                                <i class="fa fa-times"></i>
                            </span>
                            <div class="mobile-menus">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="country-select-dropdown">
                                            <img class="country-icon" src="{{ data_nav_bar.images }}country-icon.png" alt=""/>
                                            <span class="selected-option">- {{ __( 'Select a website', domain ) }} -</span>
                                        </div>
                                        <div class="country-select-box">
                                            <div class="country-selection-option">
                                                <div class="country-option-box">
                                                    {% include 'countries.twig' %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item active act-nav-link">
                                        <a href="{{ data_nav_bar.act_url }}">{{ __( 'Act', domain ) }}</a>
                                    </li>
                                    <li class="nav-item explore-nav-link">
                                        <a href="{{ data_nav_bar.explore_url }}">{{ __( 'Explore', domain ) }}</a>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-small btn-medium btn-secondary">{{ __( 'DONATE', domain ) }}</a>
                            </div>
                        </div>
                        <div class="col">
                            <a class="navbar-brand" href="{{ data_nav_bar.home_url }}"><img src="{{ data_nav_bar.images }}greenpeace-logo.png" alt="greenpeace" /></a>
                        </div>
                        <div class="col text-right">
                            <div id="search" class="mobile-search-wrap">
                                <div class="search-link">
                                    <a href="#search" id="search-trigger"><i class="fa fa-search fa-lg"></i></a>
                                </div>
                                <div class="search-box">
                                    <form id="search_form" action="{{ data_nav_bar.home_url }}">
                                        <input type="text" placeholder="{{ __( 'Search', domain ) }}" value="{{ data_nav_bar.search_query }}" name="s" aria-label="Search">
                                        <input id="orderby" type="hidden" name="orderby" value="{{ selected_sort ?? 'relevant' }}" />
                                        <input id="search-submit" type="submit" class="btn btn-green" value="{{ __( 'Search', domain ) }}" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-md-down">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            {{ __( 'Menu', domain ) }}
                        </button>
                        <a class="navbar-brand" href="{{ data_nav_bar.home_url }}"><img src="{{ data_nav_bar.images }}greenpeace-logo.png" alt="greenpeace" /></a>
                    </div>
                    <div class="w-100">
                        <nav class="navbar navbar-toggleable-md navbar-light">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li>
                                        <div class="country-select-dropdown">
                                            <span class="selected-option">{{ __( 'Select a website', domain ) }}</span>
                                        </div>
                                        <div class="country-select-box">
                                            <div class="country-selection-option">
                                                <div class="country-option-box">
													{% include 'countries.twig' %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% for item in navbar_menu.get_items %}
                                        <li class="nav-item big-screen-nav-link">
                                            <a href="{{ item.get_link }}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                    <li class="nav-item donatebtn">
                                        <a href="#" class="btn btn-small btn-medium btn-secondary btn-block">{{ __( 'DONATE', domain ) }}</a>
                                    </li>
                                    <li class="nav-item loginSignUpWrap hidden-md-down hidden-lg-down">
                                        <i class="fa fa-user-circle-o"></i>
                                        <a href="#">{{ __( 'Log in', domain ) }}</a> <span> / </span>
                                        <a href="#">{{ __( 'Sign up', domain ) }}</a>
                                    </li>
                                    <li class="nav-item nav-search-wrap">
                                        <form id="search_form" role="search" class="form" action="{{ data_nav_bar.home_url }}">
                                            <input class="form-control" type="search" placeholder="{{ __( 'Search', domain ) }}" value="{{ data_nav_bar.search_query }}" name="s" aria-label="Search">
                                            <input id="orderby" type="hidden" name="orderby" value="{{ selected_sort ?? 'relevant' }}" />
                                            <button type="submit" class="top-nav-search-btn">
                                                <i class="icon-search"></i>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}
