{% block navigation_bar %}
    <div id="header" class="top-navigation">
        <!-- Main container for main headline -->
        <div class="container-fluid">
            <div class="row">
                <div class="navbar navbar-toggleable-md navbar-light">
                    <div class="mobile-header-wrap hidden-lg-up row">
                        <div class="col text-left">
                            <span class="menu">
                                {{ __( 'Menu', domain ) }}
                                <i class="fa fa-bars"></i>
                                <i class="fa fa-times"></i>
                            </span>
                            <div class="mobile-menus">
                                <ul class="list-unstyled">
                                    <li>
                                        <img class="country-icon" src="{{ data_nav_bar.images }}country-icon.png" alt=""/>
                                        <div class="select-country styled-select">
                                            <select>
                                                <option selected disabled>- {{ __( 'Select a website', domain ) }} -</option>
                                                {% for key, website in data_nav_bar.websites %}
                                                    {% if key == settings.p4en_lang %}
                                                        <option value="{{ key }}" selected>{{ website }}</option>
                                                    {% else %}
                                                        <option value="{{ key }}">{{ website }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="{{ data_nav_bar.act_url }}">{{ __( 'ACT', domain ) }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ data_nav_bar.explore_url }}">{{ __( 'EXPLORE', domain ) }}</a>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-secondary">{{ __( 'DONATE', domain ) }}</a>
                            </div>
                        </div>
                        <div class="col">
                            <a class="navbar-brand" href="{{ data_nav_bar.home_url }}"><img src="{{ data_nav_bar.images }}greenpeace-logo.png" alt="greenpeace" /></a>
                        </div>
                        <div class="col text-right">
                            <div id="search" class="mobile-search-wrap">
                                <div class="search-link">
                                    <a href="#search" id="search-trigger"><i class="fa fa-search fa-lg"></i></a>
                                </div>
                                <div class="search-box">
                                    <form action="{{ data_nav_bar.home_url }}" id="search_form">
                                        <input class="form-control" type="search" placeholder="{{ __( 'Search', domain ) }}" value="{{ data_nav_bar.search_query }}" name="s" aria-label="Search">
                                        <input id="search-submit" type="submit" class="btn btn-green" value="{{ __( 'Search', domain ) }}" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 hidden-md-down">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            {{ __( 'Menu', domain ) }}
                        </button>
                        <a class="navbar-brand" href="{{ data_nav_bar.home_url }}"><img src="{{ data_nav_bar.images }}greenpeace-logo.png" alt="greenpeace" /></a>
                    </div>
                    <div class="col-lg-9 col-xl-10">
                        <nav class="navbar navbar-toggleable-md navbar-light">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li>
                                        <img class="country-icon" src="{{ data_nav_bar.images }}country-icon.png" alt=""/>
                                        <div class="styled-select">
                                            <select>
                                                <option selected disabled>- {{ __( 'Select a website', domain ) }} -</option>
                                                {% for key, website in data_nav_bar.websites %}
                                                    {% if key == settings.p4en_lang %}
                                                        <option value="{{ key }}" selected>{{ website }}</option>
                                                    {% else %}
                                                        <option value="{{ key }}">{{ website }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </li>
                                    {% for item in navbar_menu.get_items %}
                                        <li class="nav-item active {{ item.classes | join(' ') }}">
                                            <a href="{{ item.get_link }}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                    <li class="nav-item hidden-md-down hidden-lg-down">
                                        <a href="#" class="btn btn-secondary">{{ __( 'DONATE', domain ) }}</a>
                                    </li>
                                    <li class="nav-item loginSignUpWrap">
                                        <i class="fa fa-user-circle-o"></i>
                                        <a href="#">{{ __( 'Log in', domain ) }}</a> <span> / </span>
                                        <a href="#">{{ __( 'Sign up', domain ) }}</a>
                                    </li>
                                    <li class="nav-item nav-search-wrap">
                                        <form role="search" class="form" action="{{ data_nav_bar.home_url }}">
                                            <input class="form-control" type="search" placeholder="{{ __( 'Search', domain ) }}" value="{{ data_nav_bar.search_query }}" name="s" aria-label="Search">
                                            <button class="top-nav-search-btn" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="sub-navigation-md hidden-md-down hidden-xl-up">
        <div class="container">
            <ul class="list-unstyled clearfix">
                {% for item in navbar_menu.get_items %}
                    <li class="nav-item">
                        <a href="{{ item.get_link }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item text-right donate-btn">
                    <a href="#" class="btn btn-secondary">{{ __( 'DONATE', domain ) }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
