{% block navigation_bar %}
	<nav id="header" class="top-navigation">
		<a class="site-logo" href="{{ data_nav_bar.home_url }}">
			<img src="{{ data_nav_bar.images }}gp-logo.svg" alt="Greenpeace"/>
		</a>
		<button
				class="btn btn-navbar-toggle navbar-dropdown-toggle"
				data-toggle="open"
				data-target="#navbar-dropdown"
				aria-expanded="false"
				aria-label="Toggle navigation menu"
		>
			<span>{{ __( 'Menu', domain ) }}</span>
		</button>
		<ul id="navbar-dropdown" class="navbar-dropdown list-unstyled">
			<li class="nav-item">
				<button class="close-navbar-dropdown">
					<span class="screen-reader-text">{{ __( 'Close Menu', domain ) }}</span>
				</button>
				<button
						class="country-dropdown-toggle"
						data-toggle="open"
						data-target="#country-list"
						aria-expanded="false"
						aria-label="Toggle worldwide site selection menu"
				>
					<span class="screen-reader-text">{{ __( 'Selected', domain ) }}:</span> {{ website_navbar_title }}
					<span class="screen-reader-text">{{ __( 'Change Country', domain ) }}</span>
				</button>
				{% include 'countries.twig' %}
			</li>
			{% for key,item in navbar_menu.get_items %}
				{% if key == 0 %}
					{% set class_name = 'act-nav-link' %}
				{% else %}
					{% set class_name = 'explore-nav-link' %}
				{% endif %}
				<li class="nav-item {{ class_name }} {{ item == item.current ? 'active' : '' }}">
					<a class="nav-link" href="{{ item.get_link }}">{{ item.title }}</a>
				</li>
			{% endfor %}
			<li class="nav-item">
				<a class="btn btn-donate" href="{{ donatelink }}">{{ __( 'DONATE', domain ) }}</a>
			</li>
		</ul>
		<button
				class="navbar-search-toggle"
				data-toggle="open"
				data-target="#search_form"
				aria-expanded="false"
				aria-label="Toggle search box"
		>
			<span class="screen-reader-text">{{ __( 'Toggle search form', domain ) }}</span>
		</button>
		<form id="search_form" action="{{ data_nav_bar.home_url }}" class="form nav-item nav-search-wrap">
			<input type="text" class="form-control" placeholder="{{ __( 'Search', domain ) }}"
				   value="{{ data_nav_bar.search_query|e('wp_kses_post')|raw }}" name="s" aria-label="Search">
			<input id="orderby" type="hidden" name="orderby" value="{{ selected_sort ?? default_sort }}"/>
			<button class="top-nav-search-btn" type="submit">
				<i class="fa fa-search"></i>
				<span class="screen-reader-text">{{ __( 'Search', domain ) }}</span>
			</button>
		</form>
	</nav>
{% endblock %}
