{% block content %}

    <h1>{{ __( 'Posts Report', 'planet4-master-theme-backend' ) }}</h1>
    <div class="tablenav top">
        <div class="alignleft actions">
            <label>{{ __( 'Filters:', 'planet4-master-theme-backend' ) }} </label>
            <label for="from">{{ __( 'Date From', 'planet4-master-theme-backend' ) }}</label>
            <input type="date" id="from" name="from">
            <label for="to">{{ __( 'to', 'planet4-master-theme-backend' ) }}</label>
            <input type="date" id="to" name="to">
            <input type="submit" name="filter_action" id="posts-filter" class="button" value="Filter">
        </div>
        <br class="clear">
    </div>

    <br>
    <div class="wrap">
        <h1>{{ __( 'Posts List', 'planet4-master-theme-backend' ) }}</h1>
        <div class="hidden" id="posts_loader">
            <img src="/wp-admin/images/wpspin_light-2x.gif"/>
        </div>
        <div id="posts-table"></div>
    </div>
    <br>
    <div class="wrap">
        <h1>{{ __( 'Pages List', 'planet4-master-theme-backend' ) }}</h1>
        <div class="hidden" id="pages_loader">
            <img src="/wp-admin/images/wpspin_light-2x.gif"/>
        </div>
        <div id="pages-table"></div>
    </div>
    <br>
    <div class="wrap">
        <h1>{{ __( 'Campaigns List', 'planet4-master-theme-backend' ) }}</h1>
        <div class="hidden" id="campaigns_loader">
            <img src="/wp-admin/images/wpspin_light-2x.gif"/>
        </div>
        <div id="campaigns-table"></div>
    </div>

{% endblock %}
