{% extends "base.twig" %}

{% block content %}
	{% set disabled  = posts ? '' : 'disabled' %}
	{% set collapsed = posts ? '' : 'collapsed' %}
	{% set show      = posts ? 'show' : '' %}
	{% set expanded  = posts ? true : false %}
	{% set search_label = __( 'Search', 'planet4-master-theme' ) %}

	<div class="search-block">
		<div class="container">
			<div class="without-search-result row clearfix">
				<div class="col-md-12">
					<h2 class="result-statement">{{ page_title|e('wp_kses_post')|raw }}</h2>
					{% if ( not posts ) %}
						<p class="search-info">{{ exception ?? __( 'We\'re sorry we couldn\'t find any matches for your search term.', 'planet4-master-theme' ) }}</p>
						<ul class="search-help-info">
							<li>{{ __( 'Check for typos, and try your search again', 'planet4-master-theme' ) }}</li>
							<li>{{ __( 'Try searching for somthing else', 'planet4-master-theme' ) }}</li>
							<li>{{ __( 'Search our archive. You\'ll be redirected to the archive site.', 'planet4-master-theme' ) }}</li>
						</ul>
					{% endif %}
					{% if ( corrected_term ) %}
						<p class="search-info">{{ __( 'We also included results for ', 'planet4-master-theme' ) }} <span class="btn btn-filter-item">{{ corrected_term }} <i class="icon-cross">{{ 'times'|svgicon }}</i></span></p>
					{% endif %}
				</div>
				<div class="col-md-12">
					<div class="search-bar">
						<form id="search_form_inner" role="search" class="form" action="{{ data_nav_bar.home_url }}">
							<div class="row">
								<div class="{{ source_selection ? 'col-md-5' : 'col-md-9' }}">
									<input type="search" class="form-control mb-2 mb-sm-0" placeholder="{{ search_label }}" value="{{ search_query|e('wp_kses_post')|raw }}" name="s" aria-label="Search">
									<input type="hidden" name="orderby" value="{{ selected_sort ?? default_sort }}" />
								</div>
								{% if ( source_selection ) %}
									<div class="col-md-4">
										<div class="btn-group btn-block" role="group" aria-label="" id="search-type">
											<button type="button" class="btn btn-secondary btn-medium active">{{ __('This Site', 'planet4-master-theme' ) }}</button>
											<button type="button" class="btn btn-secondary btn-medium">{{ __( 'Archive', 'planet4-master-theme' ) }}</button>
										</div>
									</div>
								{% endif %}
								<div class="col-md-3">
									<button type="submit" class="btn btn-primary btn-medium search-btn btn-block">
										{{ 'search'|svgicon }}
										{{ __('Search', 'planet4-master-theme' ) }}
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="search-filter-results row clearfix">
				<div class="col-lg-4">
					<div class="filter-sidebar">
						<div class="filter-button d-lg-none">
							<button class="btn btn-filter {{ disabled }}">
								{{ 'filter'|svgicon }}
							 	{{ __( 'Filters', 'planet4-master-theme' ) }}
							 </button>
						</div>
						<div class="modal fade filter-modal" id="filtermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-body">
										<div class="row">
											<div class="col-9">
												<h4 class="modal-title">{{ __( 'Refine your search', 'planet4-master-theme' ) }}</h4>
											</div>
											<div class="col-3 text-right">
												<button type="button" class="closebtn" data-dismiss="modal">
													{{ 'times'|svgicon }}
												</button>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div id="filter-sidebar-options-modal">
													{% if ( categories|length > 0 ) %}
														<div class="filteritem">
															<a data-toggle="collapse" href="#item-modal-issue" aria-expanded="true">
																{{ __( 'ISSUE', 'planet4-master-theme' ) }} <span></span>
															</a>
															<div id="item-modal-issue" class="collapse show" role="tabpanel">
																<ul class="list-unstyled">
																	{% for category in categories %}
																		{% if ( category.results >= 0 ) %}
																			<li>
																				<label class="custom-control custom-checkbox">
																					<input type="checkbox" name="f[cat][{{ category.name }}]" value="{{ category.term_id }}" class="p4-custom-control-input modal-checkbox" {{ category.checked }} {{ category.results > 0 ? '' : 'disabled' }} />
																					<span class="custom-control-description">{{ category.name|e('wp_kses_post')|raw }} ({{ category.results }})</span>
																				</label>
																			</li>
																		{% endif %}
																	{% endfor %}
																</ul>
															</div>
														</div>
													{% endif %}
													{% if ( page_types|length > 0 ) %}
														<div class="filteritem">
															<a data-toggle="collapse" href="#item-modal-category" aria-expanded="true">
																{{ __( 'CATEGORY', 'planet4-master-theme' ) }} <span></span>
															</a>
															<div id="item-modal-category" class="collapse show" role="tabpanel">
																<ul class="list-unstyled">
																	{% for page_type in page_types %}
																		{% if ( page_type.results >= 0 ) %}
																			<li>
																				<label class="custom-control custom-checkbox">
																					<input type="checkbox" name="f[ptype][{{ page_type.name }}]" value="{{ page_type.term_id }}" class="p4-custom-control-input modal-checkbox" {{ page_type.checked }} {{ page_type.results > 0 ? '' : 'disabled' }} />
																					<span class="custom-control-description">{{ page_type.name }} ({{ page_type.results }})</span>
																				</label>
																			</li>
																		{% endif %}
																	{% endfor %}
																</ul>
															</div>
														</div>
													{% endif %}
													{% if ( content_types|length > 0 ) %}
														<div class="filteritem">
															<a data-toggle="collapse" href="#item-modal-content" aria-expanded="true">
																{{ __( 'CONTENT TYPES', 'planet4-master-theme' ) }} <span></span>
															</a>
															<div id="item-modal-content" class="collapse show" role="tabpanel">
																<ul class="list-unstyled">
																	{% for id, content_type in content_types %}
																		{% if ( content_type.results >= 0 ) %}
																			<li>
																				<label class="custom-control custom-checkbox">
																					<input type="checkbox" name="f[ctype][{{ content_type.name }}]" value="{{ id }}" class="p4-custom-control-input modal-checkbox" {{ content_type.checked }} {{ content_type.results > 0 ? '' : 'disabled' }} />
																					<span class="custom-control-description">{{ content_type.name }} ({{ content_type.results }})</span>
																				</label>
																			</li>
																		{% endif %}
																	{% endfor %}
																</ul>
															</div>
														</div>
													{% endif %}
												</div>
											</div>
											<div class="col-md-6">
												{% if ( tags|length > 0 ) %}
													<div class="filteritem">
														<a data-toggle="collapse" href="#item-modal-campaign" aria-expanded="true">
															{{ __( 'CAMPAIGN', 'planet4-master-theme' ) }} <span></span>
														</a>
														<div id="item-modal-campaign" class="collapse show" role="tabpanel">
															<ul class="list-unstyled">
																{% for tag in tags %}
																	<li>
																		<label class="custom-control custom-checkbox">
																			<input type="checkbox" name="f[tag][{{ tag.name }}]" value="{{ tag.term_id }}" class="p4-custom-control-input modal-checkbox"{{ tag.checked }} {{ tag.results > 0 ? '' : 'disabled' }} />
																			<span class="custom-control-description">{{ tag.name|e('wp_kses_post')|raw }} ({{ tag.results }})</span>
																		</label>
																	</li>
																{% endfor %}
															</ul>
														</div>
													</div>
												{% endif %}
											</div>
										</div>
										<div class="btnact">
											<button type="button" class="btn btn-action btn-medium btn-small cancelbtn" data-dismiss="modal">{{ __( 'Cancel', 'planet4-master-theme' ) }}</button>
											<button type="button" class="btn btn-primary btn-medium btn-small applybtn">{{ __( 'Apply Filters', 'planet4-master-theme' ) }}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="filter-sidebar-options" class="d-none d-lg-block">
							<h4>{{ __( 'Refine your search', 'planet4-master-theme' ) }}</h4>
							{% if ( filters ) %}
								<div class="active-filter">
									<h5>{{ __( 'ACTIVE FILTERS', 'planet4-master-theme' ) }}</h5>
									<div class="activefilter-list">
										{% for filter_type in filters %}
											{% for filter in filter_type %}
												<button class="activefilter-tag" data-id="{{ filter.id }}">
													{{ filter.name|e('wp_kses_post')|raw }} <i class="icon-cross">{{ 'times'|svgicon }}</i>
												</button>
											{% endfor %}
										{% endfor %}
										<button class="clearall">{{ __( 'Clear All', 'planet4-master-theme' ) }} <i class="icon-cross"></i></button>
									</div>
								</div>
							{% endif %}
							{% if ( categories|length > 0 ) %}
								<div class="filteritem">
									<a data-toggle="collapse" href="#item-issue" aria-expanded="true">
										{{ __( 'Issue', 'planet4-master-theme' ) }} <span></span>
									</a>
									<div id="item-issue" class="collapse show" role="tabpanel">
										<ul class="list-unstyled">
											{% for category in categories %}
												<li>
													<label class="custom-control custom-checkbox">
														<input type="checkbox" name="f[cat][{{ category.name }}]" value="{{ category.term_id }}" class="p4-custom-control-input" {{ category.checked }} {{ category.results > 0 ? '' : 'disabled' }} />
														<span class="custom-control-description">{{ category.name|e('wp_kses_post')|raw }} ({{ category.results }})</span>
													</label>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							{% endif %}
							{% if ( tags|length > 0 ) %}
								<div class="filteritem">
									<a data-toggle="collapse" href="#item-campaign" class="{{ collapsed }}" aria-expanded="{{ expanded }}">
										{{ __( 'Campaign', 'planet4-master-theme' ) }} <span></span>
									</a>
									<div id="item-campaign" class="collapse {{ show }}" role="tabpanel">
										<ul class="list-unstyled">
											{% for tag in tags %}
												<li>
													<label class="custom-control custom-checkbox">
														<input type="checkbox" name="f[tag][{{ tag.name }}]" value="{{ tag.term_id }}" class="p4-custom-control-input" {{ tag.checked }} {{ tag.results > 0 ? '' : 'disabled' }} />
														<span class="custom-control-description">{{ tag.name|e('wp_kses_post')|raw }} ({{ tag.results }})</span>
													</label>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							{% endif %}
							{% if ( page_types|length > 0 ) %}
								<div class="filteritem">
									<a data-toggle="collapse" href="#item-category" class="{{ collapsed }}" aria-expanded="{{ expanded }}">
										{{ __( 'Category', 'planet4-master-theme' ) }} <span></span>
									</a>
									<div id="item-category" class="collapse {{ show }}" role="tabpanel">
										<ul class="list-unstyled">
											{% for page_type in page_types %}
												<li>
													<label class="custom-control custom-checkbox">
														<input type="checkbox" name="f[ptype][{{ page_type.name }}]" value="{{ page_type.term_id }}" class="p4-custom-control-input" {{ page_type.checked }} {{ page_type.results > 0 ? '' : 'disabled' }} />
														<span class="custom-control-description">{{ page_type.name|e('wp_kses_post')|raw }} ({{ page_type.results }})</span>
													</label>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							{% endif %}
							{% if ( content_types|length > 0 ) %}
								<div class="filteritem">
									<a data-toggle="collapse" href="#item-content" class="{{ collapsed }}" aria-expanded="{{ expanded }}">
										{{ __( 'Content type', 'planet4-master-theme' ) }} <span></span>
									</a>
									<div id="item-content" class="collapse {{ show }}" role="tabpanel">
										<ul class="list-unstyled">
											{% for id, content_type in content_types %}
												<li>
													<label class="custom-control custom-checkbox">
														<input type="checkbox" name="f[ctype][{{ content_type.name }}]" value="{{ id }}" class="p4-custom-control-input"{{ content_type.checked }} {{ content_type.results > 0 ? '' : 'disabled' }} />
														<span class="custom-control-description">{{ content_type.name }} ({{ content_type.results }})</span>
													</label>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="result-area">
						<div class="sort-filter clearfix">
							<div class="float-right">
								<label class="mr-sm-2" for="select_order">{{ __('Sort by', 'planet4-master-theme' ) }}</label>
								<select id="select_order" name="select_order" class="">
									{% for key, sort_option in sort_options %}
										{% if key == selected_sort %}
											<option value="{{ key }}" {{ not search_query and key == '_score' ? 'disabled' : 'selected' }}>{{ __( sort_option.name, 'planet4-master-theme' ) }}</option>
										{% else %}
											<option value="{{ key }}">{{ __( sort_option.name, 'planet4-master-theme' ) }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="multiple-search-result">
							{% if ( load_more.async ) %}
								{% set displayed_posts = paged_posts %}
							{% else %}
								{% set displayed_posts = posts %}
							{% endif %}
							<ul class="list-unstyled">
								{% for post in displayed_posts %}
									{% include ['tease-search.twig', 'tease-'~post.post_type~'.twig', 'tease.twig'] %}
								{% endfor %}
							</ul>
							{% if ( load_more ) %}
								<div class="col-lg-12 mb-5 load-more-button-div">
									<div class="row">
										<div class="col-lg-5 col-sm-12">
											<button
												class="btn btn-medium btn-small btn-secondary more-btn {{ load_more.async ? 'btn-load-more-async' : '' }} btn-load-more-click-scroll"
												data-current_page="{{ current_page }}"
												data-total_posts="{{ found_posts }}"
												data-posts_per_load="{{ load_more.posts_per_load }}"
												data-archives_per_load="{{ load_more.archives_per_load }}"
												data-page_archive_available_after = "{{ load_more.page_archive_available_after }}">
													{{ load_more.button_text }}
											</button>
										</div>
										<div class="col-lg-7 col-sm-12">
											{% if settings.include_archive_content %}
												<div class="toggle-wrapper">
													<div class="toggle-button">
														<input type="checkbox" id="show-archive-toggle" class="toggle show-archive-toggle"/>
														<label class="toggle-label" for="show-archive-toggle"></label>
													</div>
													<span class="toggle-label-include">{{ load_more.include_archive_content_text }}</span>
													<span class="toggle-label-exclude">{{ load_more.exclude_archive_content_text }}</span>
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							{% endif %}
							{% if ( pagination ) %}
								{{ fn( 'the_posts_pagination', pagination ) }}
							{% endif %}
						</div>
						{% if ( suggestions ) %}
							<div class="suggested-search-terms">
								<h3>{{ __( 'Suggested search terms', 'planet4-master-theme' ) }}</h3>
								<div class="suggested-list row">
									{% for suggestion in suggestions %}
										<div class="col-md-4">
											<ul class="list-unstyled">
												<li><a href="#"> {{ suggestion }}</a></li>
											</ul>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
