{% extends "base.twig" %}

{% block content %}
    {% set disabled  = posts ? '' : 'disabled' %}
    {% set collapsed = posts or (not has_aggregation) ? '' : 'collapsed' %}
    {% set show      = posts or (not has_aggregation)? 'show' : '' %}
    {% set expanded  = posts ? true : false %}

    <div class="search-block">
        <div class="container">
            <div id="content" class="without-search-result row clearfix">
                <div class="col-md-12" id="result-statement">
                    {# Here we render SearchTitle component #}
                </div>
                <div class="col-md-12">
                    <a class="skip-link" href="#search-results">
                        {{ __( 'Skip to search results', 'planet4-master-theme' ) }}
                    </a>
                    <div id="search-bar" class="search-bar" data-site-url="{{ site.url }}">
                        {# Here we render SearchForm component #}
                    </div>
                </div>
            </div>
            <div class="search-filter-results row clearfix">
                <aside class="col-lg-4">
                    <div class="filter-sidebar">
                        <div class="filter-button d-lg-none">
                            <button class="btn btn-filter btn-secondary {{ disabled }}" data-bs-toggle="modal" data-bs-target="#filtermodal">
                                {{ 'filter'|svgicon }}
                                {{ __( 'Filters', 'planet4-master-theme' ) }}
                            </button>
                        </div>
                        <div class="modal fade filter-modal" id="filtermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document" style="left: 0; max-width: 50%; margin: 0;">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <h4 class="modal-title" style="font-size: 1rem;">
                                                    {{ __( 'Refine your search', 'planet4-master-theme' ) }}
                                                </h4>
                                            </div>
                                            <div class="col-3 text-end">
                                                <button type="button" class="closebtn" data-bs-dismiss="modal">
                                                    {{ 'times'|svgicon }}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div id="filter-sidebar-options-modal">
                                                {% include 'search/categories.twig' with {'is_modal': true} %}
                                                {% include 'search/post_types.twig' with {'is_modal': true} %}
                                                {% include 'search/action_types.twig' with {'is_modal': true} %}
                                                {% include 'search/content_types.twig' with {'is_modal': true} %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="filter-sidebar-options" class="d-none d-lg-block">
                            <h4>{{ __( 'Refine your search', 'planet4-master-theme' ) }}</h4>
                            {% include 'search/categories.twig' with {'is_modal': false} %}
                            {% include 'search/post_types.twig' with {'is_modal': false} %}
                            {% include 'search/action_types.twig' with {'is_modal': false} %}
                            {% include 'search/content_types.twig' with {'is_modal': false} %}
                        </div>
                    </div>
                </aside>
                <section class="col-lg-8">
                    <div class="result-area">
                        <div id="sort-filter" class="sort-filter clearfix">
                            {# Here we render the results of the SortFilter component #}
                        </div>
                        <div id="search-results-wrapper">
                            <ul id="search-results" class="multiple-search-result">
                                {# Here we render the results of the SearchController component #}
                            </ul>
                            <div class="visually-hidden" id="announce" aria-live="polite"></div>
                        </div>
                        <div class="col-lg-12 mb-5 load-more-button-div">
                            {# Here we render the LoadMoreButton component #}
                        </div>
                        <div id="search-controller" data-rest-url="{{ fn('get_rest_url') }}"
                        ></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
