{% extends "base.twig" %}

{% block content %}

	<div class="clearfix"></div>
	<div class="skewed-overlay"></div>

	<article id="post-{{ post.ID }}">

		<header class="page-header">
			<div class="page-header-background">
				{#<img src="{{ background_image }}" class="page-header-image" alt="Image alt data"/>#}
			</div>
			<div class="container">
				<div class="top-page-tags">
					{% if ( page_type ) %}
						<a class="tag-item tag-item--main" href="{{ filter_url }}">{{ page_type }}</a>
					{% endif %}

					{% if ( issues ) %}
						{% for issue in issues %}
							<a class="tag-item tag-item--main" href="{{ issue.link|default('#') }}">{{ issue.name|e('wp_kses_post')|raw }}</a>
						{% endfor %}
					{% endif %}

					{% for tag in post.tags %}
						<a class="tag-item " href="{{ tag.link }}">#{{ tag.name|e('wp_kses_post')|raw }}</a>
					{% endfor %}
				</div>
				<h1 class="page-header-title">{{ post.title|raw }}</h1>
				<div class="row">
					<div class="col-md-6">
						<div class="single-post-meta">
							{% if ( author_override ) %}
								{% set author_name = author_override %}
							{% else %}
								{% set author_name = post.author.name %}
							{% endif %}
							<address class="single-post-author">{{ __( 'by', 'planet4-master-theme' ) }}&nbsp;{{ author_name }}</address>
							<time class="single-post-time" pubdate>{{ post.post_date|date }}</time>
						</div>
					</div>
					<div class="col-md-6">
						{% include "blocks/share_buttons.twig" with {post:post} %}
					</div>
				</div>
			</div>
		</header>

		<!-- Post Block Start -->
		<div class="container">
			<div class="post-content">
				{% if ( post.take_action_boxout ) %}
					{{ post.take_action_boxout|shortcodes|raw }}
				{% endif %}
				<div class="post-content-lead">
					<article class="post-details">
						{{ post.content|e('wp_kses_post')|raw }}
					</article>
				</div>
			</div>
		</div>
		<!-- Post Page Block End -->

		{% if ( author_override == '' and post.author.description ) %}
			{% include "blocks/author_profile.twig" with {post:post} %}
		{% endif %}

		<section class="article-listing page-section">
			{% if ( post.articles ) %}
				{{ post.articles|shortcodes|raw }}
			{% endif %}
		</section>
		{% if ( 'closed' != post.comment_status ) %}
			{% include "comments_section.twig" with {comments:post.get_comments()} %}
		{% endif %}
	</article>
{% endblock %}
