{% extends "base.twig" %}

{% block content %}

	<style>

		/* Temporary added here. Will be moved to main stylesheet */

		.article {
			background: none;
		}

		.post_word {
			color: yellow;
			text-transform: uppercase;
			font-weight: 500;
		}

		.post_tags a:link {
			color: yellow;
		}

		.post_tags a:focus {
			color: yellow;
		}

		.post_tags a:active {
			color: yellow;
		}

		.post_tags a:hover {
			color: yellow;
		}

		.first-paragraph p:first-child {
			color: white;
			margin-bottom: 20px;
			margin-top: 20px;
		}

		.post_body {
			background-size: cover;
			background-color: #EFEFEF;
			background-image: linear-gradient(140deg, rgba(0, 10, 37, 0.6) 0%, rgba(0, 28, 102, 0.6) 10%, rgba(246, 255, 247, 0.6) 40%, transparent),
			url({{ background_image }});
		}

	</style>
	<div class="container">
		<div class="content-wrapper">
			<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				<section class="article-content">

					<div class="row">
						<div class="col-md-4">
							<span class="post_word">{{ __('post', 'planet4-master-theme') }} &bull;</span>
							{% for tag in post.tags %}
								<span class="post-tags">
							<a href="{{ tag.link }}">#{{ tag.title }}</a>
						</span>
							{% endfor %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<h1 class="article-h1" style="color: white">{{ post.title|raw }}</h1>
						</div>
					</div>

					<p class="blog-author" style="color: white;">
						<span><i>{{ __( 'by', domain ) }}</i></span>
						{% if ( author_override ) %}
							<i>{{ author_override }}</i>
						{% else %}
							<a href="{{ post.author.path }}"><i>{{ post.author.name }} </i> </a>
						{% endif %}
						<span><i>/</i></span> <i>{{ post.post_date|date }}</i>
					</p>

					<div class="article-body">
						{% if ( post.first_paragraph ) %}
							<div class="row first-paragraph">
								<div class="col-md-6">
									<p>
										{{ post.first_paragraph|e('wp_kses_post')|raw }}
									</p>
								</div>
							</div>
						{% endif %}

						{% if ( post.first_paragraph ) %}
							<div class="row">
								<div class="col-md-6">
									<p>
										{{ post.second_paragraph|e('wp_kses_post')|raw }}
									</p>
								</div>
							</div>
						{% endif %}

						{{ post.content|e('wp_kses_post')|raw }}
					</div>

					{% if ( author_override == '' and post.author.description ) %}
						{% include "blocks/author_profile.twig" with {post:post} %}
					{% endif %}

				</section>
				<div>
					{% if ( post.articles ) %}
						{{ post.articles|shortcodes|raw }}
					{% endif %}
				</div>
				{% if ( 'closed' != post.comment_status ) %}
					{% include "comments_section.twig" with {comments:post.get_comments()} %}
				{% endif %}
			</article>
		</div>
	</div>
{% endblock %}
