{% extends "base.twig" %}

{% block content %}

	<article id="post-{{ post.ID }}">

		<header class="page-header">
			<div class="page-header-background"></div>
		</header>

		<div class="container">
			<h1 class="page-header-title">{{ post.title|raw }}</h1>
		</div>

		<div class="container">
			<div class="post-content">
				<div class="post-content-lead">

					<form id="password-form" class="mb-5" action="{{site.link}}/wp-login.php?action=postpass" method="post">
						<div class="form-group">
							<label for="pwbox-{{post.ID}}">{{ __( 'Password', 'planet4-master-theme' ) }}:</label>
							<input class="form-control" name="post_password" id="pwbox-{{post.ID}}" type="password" size="20" maxlength="20">
						</div>
						<button class="btn btn-primary" type="submit">{{ __( 'Submit', 'planet4-master-theme' ) }}</button>
					</form>

				</div>
			</div>
		</div>

	</article>

{% endblock %}
