{% extends "base.twig" %}

{% block content %}

    <div class="clearfix"></div>

    <main id="post-{{ post.ID }}">

        <article class="container narrow-container">
            <header class="page-header">
                <nav class="top-page-tags">
                    {% if ( page_type ) %}
                        <a
                            class="tag-item tag-item--main page-type"
                            href="{{ fn('get_term_link', page_term_id) }}"
                            data-ga-category="Header"
                            data-ga-action="Post Type Tag"
                            data-ga-label="n/a">
                                {{ page_type|e('wp_kses_post')|raw }}
                        </a>
                    {% endif %}

                    {% if ( page_type and post.issues_nav_data ) %}
                        <span class="main-tag-chevron" aria-hidden="true"></span>
                    {% endif %}

                    {% if ( post.issues_nav_data ) %}
                        <div class="tag-wrap issues">
                            {% for issue in post.issues_nav_data %}
                                <a
                                    class="tag-item tag-item--main"
                                    href="{{ issue.link|default('#') }}"
                                    data-ga-category="Header"
                                    data-ga-action="Category Tag"
                                    data-ga-label="n/a">
                                        {{ issue.name|e('wp_kses_post')|raw }}
                                </a>

                                {% if ( loop.last == false ) %}
                                    <span class="category-separator" aria-hidden="true">|</span>
                                {% endif %}

                            {% endfor %}
                        </div>
                    {% endif %}
                </nav>
                <h1 class="page-header-title">{{ post.title|raw }}</h1>
                <div class="single-post-meta">
                    {% if not post.get_author_override and post.author.avatar %}
                        <img itemprop="image" class="author-pic"
                            src="{{ fn('get_avatar_url', post.author.id, {'size' : 50, 'default': default_avatar}) }}"
                            alt="{{ post.author.avatar }}">
                    {% endif %}
                    <div class="d-inline-block">
                        {% if post.author.name %}
                            <address class="single-post-author">
                                {% if not ( post.get_author_override ) %}
                                    <a href="{{ post.author.path }}">{{ post.author.name }}</a>
                                {% else %}
                                    {{ post.author.name }}
                                {% endif %}
                            </address>
                        {% endif %}
                        <time class="single-post-time" pubdate>{{ post.post_date|date }}</time>
                        {% set reading_time = post.reading_time_for_display %}
                        {% if reading_time %}
                            <span class="single-post-meta-bullet" aria-hidden="true">&#8226;</span>
                            <span class="single-post-meta-readtime">
                                {{ __( '%d min read', 'planet4-master-theme' )|format(reading_time) }}
                            </span>
                        {% endif %}
                        {% if ( show_comments ) %}
                            <span class="single-post-meta-bullet" aria-hidden="true">&#8226;</span>
                            <a href="#comments" class="comment-link">
                                    {{ 'comments'|svgicon }}
                                    <span class="quantity"> {{ post_comments_count }} <span class="display-text">{{ __( 'Comments', 'planet4-master-theme' ) }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% include "blocks/share_buttons.twig" with {
                    social: post.share_meta,
                    utm_medium: 'share',
                    share_platforms: post.social_share_platforms,
                } %}

                {% if old_posts_archive_notice.show_notice %}
                    <div class="single-post-old-posts-archive-notice">
                        {% if ( old_posts_archive_notice.title ) %}
                            <h4>{{ old_posts_archive_notice.title|e('wp_kses_post')|raw }}</h4>
                        {% endif %}
                        {% if ( old_posts_archive_notice.description ) %}
                            <p>{{ old_posts_archive_notice.description|e('wp_kses_post')|raw }}</p>
                        {% endif %}
                        {% if ( old_posts_archive_notice.button ) %}
                            <a class="btn btn-secondary" href="{{ fn('get_term_link', page_term_id) }}">
                            {{ old_posts_archive_notice.button|e('wp_kses_post')|raw }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </header>
            <div class="post-content" id="content">
                <div class="post-details clearfix">
                    {{ post.content|raw }}
                    {% if ( post.take_action_boxout ) %}
                        {{ fn('do_blocks', post.take_action_boxout )|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="post-tags">
                {% if ( post.tags ) %}
                    {% for tag in post.tags %}
                        <a
                            class="btn post-tag-button btn-small"
                            href="{{ tag.link }}"
                            data-ga-category="Post"
                            data-ga-action="Navigation Tag"
                        >
                            <span aria-label="hashtag">#</span><span>{{ tag.name|e('wp_kses_post')|raw }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </article>

        {% include "blocks/author_profile.twig" with {post:post} %}

        {% if ( post.articles ) %}
            <section class="container post-articles-block">
                {{ fn('do_blocks', post.articles )|raw }}
            </section>
        {% endif %}
        {% if ( show_comments ) %}
            {% include "comments_section.twig" with {comments:post.get_comments()} %}
        {% endif %}
    </main>
{% endblock %}
