{% extends "base.twig" %}

{% block content %}
	<div class="skewed-overlay"></div>
	<div class="page-header">
		{% if ( tag_image ) %}
			<div class="page-header-background">
				<img src="{{ tag_image }}" class="page-header-image">
			</div>
		{% endif %}
		<div class="container">
			<div class="left">
				<div class="top-page-tags">
					{% if ( category_name ) %}
						<a class="tag-item tag-item--main" href="{{ category_link|default('#') }}">{{ category_name|e('wp_kses_post')|raw }}</a>
					{% endif %}
				</div>
				<h1 class="page-header-title">#{{ tag_name|e('wp_kses_post')|raw }}</h1>
				<p class="page-header-content">{{ tag_description|e('wp_kses_post')|raw }}</p>
			</div>
			<div class="pull-right d-none d-md-block">
				<div class="sharethis-inline-share-buttons"></div>
			</div>
		</div>

	</div>
	{% for name, block in blocks %}
		{{ block|shortcodes|raw }}
	{% endfor %}
{% endblock %}
