{% extends "base.twig" %}

{% block content %}
	<div class="skewed-overlay"></div>
	<div class="page-header">
		{% if ( tag_image ) %}
			<div class="page-header-background">
				<img src="{{ tag_image }}" class="page-header-image">
			</div>
		{% endif %}
		<div class="container">
			<div class="left">
				<h1 class="page-header-title">
					<a class="category_link" href="{{ category_link|default('#') }}">{{ category_name|e('wp_kses_post')|raw }}</a>
				</h1>
				<h3 class="page-header-subtitle">#{{ tag_name|e('wp_kses_post')|raw }}</h3>
				<p class="page-header-content">{{ tag_description }}</p>
			</div>
			<div class="pull-right hidden-sm-down">
				<div class="sharethis-inline-share-buttons"></div>
			</div>
		</div>

	</div>
	{% for name, block in blocks %}
		{{ block|shortcodes|raw }}
	{% endfor %}
{% endblock %}
