{% extends "base.twig" %}

{% block content %}
	{% if ( tag_image ) %}
		<style>
			body {
				background-image: url("{{ tag_image }}");
				background-size: cover;
			}
			.tag_template {
				margin-top: 100px;
			}
			.tag_template .tag_header_container {
				color: white;
			}
			.category_link {
				font-size: 120%;
				color: #ffd920;
				text-transform: uppercase;
			}
			.tag_description {
				width: 40%;
			}
		</style>
	{% endif %}
	<div class="tag_template">
		<div class="container tag_header_container">
			<a class="category_link" href="{{ category_link|default('#') }}">{{ category_name|e('wp_kses_post')|raw }}</a>
			<h1 class="tag_name">#{{ tag_name|e('wp_kses_post')|raw }}</h1>
			<p class="tag_description">{{ tag_description }}</p>
		</div>
		{% for name, block in blocks %}
			{{ block|shortcodes|raw }}
		{% endfor %}
	</div>
{% endblock %}
