
{% if ( 'action' == posts_data[post.ID].content_type ) %}
	{% set is_action = true %}
{% elseif ( 'document' == posts_data[post.ID].content_type ) %}
	{% set is_document = true %}
{% endif %}

{% if ( current_page == 1 and loop.index0 == 0 ) %}
	<div class="search-results-load">
{% elseif ( first_of_the_page and loop.index0 is divisible by(5) ) %}
	<div class="search-results-load row-hidden" style="display: none;">
{% endif %}
	{% if ( is_action ) %}
		<li id="result-row-{{ post.ID }}" class="media search-result-list-item search-result-list-item-bg" style="background-image:linear-gradient(180deg, rgba(213, 239, 242, 1), rgba(255, 255, 255, 0.3)), url('{{ post.thumbnail.src }}');">
			<div class="blank-block"></div>
	{% else %}
		<li id="result-row-{{ post.ID }}" class="media search-result-list-item">
	{% endif %}

		{% if ( not is_action ) %}
			<img class="d-flex search-result-item-image" src="{{ post.thumbnail.src('thumbnail') ?? posts_data.dummy_thumbnail }}"
				 alt="{{ fn('esc_attr', post.thumbnail.alt|default( post.title ) )|raw }}" />
		{% endif %}

		<div id="tease-{{ post.ID }}" class="media-body search-result-item-body tease tease-{{ post.post_type }}">
			<div class="search-result-item-flex-title">
				<div>
					<div class="search-result-tags top-page-tags">
						{% for page_type in posts_data[post.ID].page_types %}
							<button class="search-result-item-head no-btn tag-item tag-item--main page-type" data-href="{{ fn('get_term_link', page_type.term_id) }}">{{ page_type.name|e('wp_kses_post')|raw }}</button>
						{% endfor %}

						{% if (posts_data[post.ID].tags) %}
							<div class="tag-wrap tags">
								{% for tag in posts_data[post.ID].tags %}
									<a href="{{ tag.link }}" class="search-result-item-tag tag-item tag">#{{ tag.name|e('wp_kses_post')|raw }}</a>
								{% endfor %}
							</div>
						{% endif %}
					</div>

					{% if ( is_document ) %}
						{% set title = post.title|e('wp_kses_post')|raw %}
						<a href="{{ fn('wp_get_attachment_url', post.id) }}" class="search-result-item-headline">{{ title|length > 30 ? title|striptags|slice(0, 30) ~ '...' : title }}</a>
					{% else %}
						<a href="{{ post.link() }}" class="search-result-item-headline">{{ post.title|e('wp_kses_post')|raw }}</a>
					{% endif %}

					{% if ( not is_action ) %}
						<div class="search-result-item-info">
							<span class="search-result-item-date">{{ post.post_date|date('d/m/Y') }}</span>
						</div>
					{% endif %}
				</div>
				<div>
					{% if ( is_action ) %}
						{%  set link_text = settings['take_action_covers_button_text'] %}
						<a href="{{ post.link }}" class="btn btn-primary btn-medium btn-small">{{ link_text ?: __( 'take action', 'planet4-master-theme' ) }}</a>
					{% elseif ( is_document ) %}
						<a href="{{ fn('wp_get_attachment_url', post.id) }}" download class="btn btn-small btn-secondary">
							{{ __( 'Download', 'planet4-master-theme' ) }}
						</a>
					{% endif %}
				</div>
			</div>

			<p class="search-result-item-content">{{ post.preview().read_more('')|excerpt( 25 )|raw }}</p>
		</div>
	</li>
{% if ( ( loop.index0 % 5 == 4 ) or loop.last ) %}
	</div>
{% endif %}
