<li id="result-row-{{ post.ID }}" class="media search-result-list-item">
	<img class="d-flex search-result-item-image" src="{{ post.thumbnail.src('thumbnail') }}"
		 alt="{{ fn('esc_attr', post.thumbnail.alt|default( post.title ) )|raw }}" />

	<div id="tease-{{ post.ID }}" class="media-body search-result-item-body tease tease-{{ post.post_type }}">
		<div class="search-result-tags">
			<span class="search-result-item-title">{{ post.content_type_text }}</span>

			{% for page_type in post.page_types %}
				<button class="search-result-item-head no-btn" data-term_id="{{ page_type.term_id }}">{{ page_type.name }}</button>
			{% endfor %}

			{% for tag in post.tags %}
				<a href="{{ tag.link }}" class="search-result-item-tag">#{{ tag.name|e('wp_kses_post')|raw }}</a>{% if ( not loop.last ) %},{% endif %}
			{% endfor %}
		</div>

		<a href="{{ post.link() }}" class="search-result-item-headline">{{ post.title|e('wp_kses_post')|raw }}</a>

		<div class="search-result-item-info">
			<span class="search-result-item-date">{{ post.post_date|date('d/m/Y') }}</span>
		</div>

		<p class="search-result-item-content">{{ post.preview()|truncate( 25, true )|raw }}</p>

	</div>
</li>
