
{% if ( 'action' == posts_data[post.ID].content_type ) %}
	{% set is_action = true %}
{% elseif ( 'document' == posts_data[post.ID].content_type ) %}
	{% set is_document = true %}
{% endif %}

{# TODO - This if will be removed after applying Lazy-loading when searching for specific term. #}
{% if ( search_query ) %}
	{% if ( not load_more or loop.index0 == 0 ) %}
		<div class="search-results-load">
	{% elseif ( loop.index0 is divisible by(5) ) %}
		<div class="search-results-load row-hidden" style="display: none;">
	{% endif %}
{% else %}
	{% if ( current_page == 1 and loop.index0 == 0 ) %}
		<div class="search-results-load">
	{% elseif ( first_of_the_page and loop.index0 is divisible by(5) ) %}
		<div class="search-results-load row-hidden" style="display: none;">
	{% endif %}
{% endif %}
	{% if ( is_action ) %}
		<li id="result-row-{{ post.ID }}" class="media search-result-list-item search-result-list-item-bg" style="background-image:linear-gradient(180deg, rgba(213, 239, 242, 1), rgba(255, 255, 255, 0.3)), url('{{ post.thumbnail.src }}');">
			<div class="blank-block"></div>
	{% else %}
		<li id="result-row-{{ post.ID }}" class="media search-result-list-item">
	{% endif %}

		{% if ( not is_action ) %}
			<img class="d-flex search-result-item-image" src="{{ post.thumbnail.src('thumbnail') ?? posts_data.dummy_thumbnail }}" alt="{{ post.thumbnail.alt|default( post.title )|e('wp_kses_post')|raw }}" />
		{% endif %}

		<div id="tease-{{ post.ID }}" class="media-body search-result-item-body tease tease-{{ post.post_type }}">
			<div class="search-result-tags">
				<span class="search-result-item-title">{{ posts_data[post.ID].content_type_text }}</span>

				{% for page_type in posts_data[post.ID].page_types %}
					<button class="search-result-item-head no-btn" data-term_id="{{ page_type.term_id }}">{{ page_type.name }}</button>
				{% endfor %}

				{% for tag in posts_data[post.ID].tags %}
					<a href="{{ tag.link }}" class="search-result-item-tag">#{{ tag.name }}</a>{% if ( not loop.last ) %},{% endif %}
				{% endfor %}
			</div>

			{% if ( is_document ) %}
				<a href="{{ post.guid }}" class="search-result-item-headline">{{ post.title|e('wp_kses_post')|raw[:30] ~ '...' }}</a>
			{% else %}
				<a href="{{ post.link() }}" class="search-result-item-headline">{{ post.title|e('wp_kses_post')|raw }}</a>
			{% endif %}

			{% if ( not is_action ) %}
				<div class="search-result-item-info">
					<span class="search-result-item-date">{{ post.post_date|date('d/m/Y') }}</span>
				</div>
			{% endif %}
			<p class="search-result-item-content">{{ post.preview()|truncate( 25, true )|raw }}</p>

			{% if ( is_action ) %}
				<a href="{{ post.link }}" class="btn btn-primary btn-medium btn-small">{{ __( 'Take Action', domain ) }}</a>
			{% elseif ( is_document ) %}
				<a href="{{ post.guid }}" download class="btn btn-small btn-secondary">
					<i class="icon-doc-ic"></i>{{ __( 'Download', domain ) }}
				</a>
			{% endif %}
		</div>
	</li>
{% if ( ( loop.index0 % 5 == 4 ) or loop.last ) %}
	</div>
{% endif %}
