{% if not (post.get_author_override) %}
	<li id="result-row-{{ post.ID }}" class="media search-result-list-item">
		<img class="d-flex search-result-item-image" src="{{ post.thumbnail.src('thumbnail') }}"
			alt="{{ fn('esc_attr', post.thumbnail.alt|default( post.title ) )|raw }}" />

		<div id="tease-{{ post.ID }}" class="media-body search-result-item-body tease tease-{{ post.post_type }}">
			<div class="search-result-tags top-page-tags">
				{{ post.get_author_override }}

				{% for page_type in post.get_custom_terms %}
					<a href="/?s=&orderby=relevant&f[ptype][{{ page_type.name }}]={{ page_type.term_id }}" class="search-result-item-head no-btn tag-item tag-item--main page-type">{{ page_type.name|e('wp_kses_post')|raw }}</a>
				{% endfor %}

				{% if (post.tags) %}
					<div class="tag-wrap tags">
						{% for tag in post.tags %}
							<a href="{{ tag.link }}" class="search-result-item-tag tag-item tag">#{{ tag.name|e('wp_kses_post')|raw }}</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<a href="{{ post.link() }}" class="search-result-item-headline">{{ post.title|e('wp_kses_post')|raw }}</a>

			<div class="search-result-item-info">
				<span class="search-result-item-date">{{ post.post_date|date('d/m/Y') }}</span>
			</div>

			<p class="search-result-item-content">{{ post.preview()|truncate( 25, true )|raw }}</p>

		</div>
	</li>
{% endif %}
