<li id="result-row-{{ post.ID }}" class="wp-block-post post-{{ post.ID }} post type-post status-publish format-standard hentry">
    <article class="query-list-item">
        <div class="query-list-item-image query-list-item-image-max-width">
        <a href="{{ post.link() }}">
            {{ fn('get_the_post_thumbnail', post.ID, null, {'sizes': '(min-width: 1600px) 389px, (min-width: 1200px) 335px, (min-width: 1000px) 281px, (min-width: 780px) 209px, (min-width: 580px) 516px, calc(100vw - 24px)', 'data-ga-category': data_ga_category ?? 'Articles List', 'data-ga-action': "Image", 'data-ga-label': "n/a", 'alt': fn('esc_attr', post.thumbnail_alt|default( post.post_title )|striptags ) })|raw }}
        </a>
        </div>

        <div id="tease-{{ post.ID }}" class="query-list-item-body">
            <div class="query-list-item-post-terms">
                <div class="wrapper-post-term">
                {% for page_type in post.get_custom_terms %}
                    <div class="taxonomy-p4-page-type wp-block-post-terms">
                    <a
                        href="{{ fn('get_term_link', page_type.term_id, 'p4-page-type') }}"
                        data-ga-category="Articles List"
                        data-ga-action="Post Type Tag"
                        data-ga-label="n/a">
                            {{ page_type.name|e('wp_kses_post')|raw }}
                    </a>
                    </div>
                {% endfor %}
                </div>

                {% if (post.tags) %}
                <div class="wrapper-post-tag">
                    <div class="taxonomy-post_tag wp-block-post-terms">
                    {% apply spaceless %}
                    {% for tag in post.tags %}
                        <a
                            href="{{ tag.link }}"
                            data-ga-category="Articles List"
                            data-ga-action="Navigation Tag"
                            data-ga-label="n/a"
                            rel="tag">{{ tag.name|e('wp_kses_post')|raw }}
                        </a>
                        </a><span class="wp-block-post-terms__separator">, </span>
                    {% endfor %}
                    {% endapply %}
                    </div>
                </div>
                {% endif %}
            </div>

            <header>
                <h4 class="query-list-item-headline wp-block-post-title">
                <a
                    href="{{ post.link() }}"
                    data-ga-category="Articles List"
                    data-ga-action="Title"
                    data-ga-label="n/a">
                        {{ post.title|e('wp_kses_post')|raw }}
                </a>
                </h4>
            </header>

            <div class="query-list-item-content wp-block-post-excerpt">
                <p class="wp-block-post-excerpt__excerpt">{{ post.post_excerpt|excerpt( 30 )|e('wp_kses_post')|raw }}</p>
            </div>

            <div class="query-list-item-meta d-flex">
                <span class="wp-block-post-date">{{ post.post_date|date }}</span>
                {% set reading_time = post.reading_time %}
                {% if reading_time %}
                    <span class="article-list-item-readtime">
                        {{ __( '%d min read', 'planet4-master-theme' )|format(reading_time) }}
                    </span>
                {% endif %}
            </div>

        </div>
    </article>
</li>
