
{% if ( 'action' == post.content_type ) %}
	{% set is_action = true %}
{% elseif ( 'document' == post.content_type ) %}
	{% set is_document = true %}
{% elseif ( 'campaign' == post.content_type ) %}
	{% set is_campaign = true %}
{% elseif ( 'archive' == post.post_type ) %}
	{% set is_archive = true %}
{% endif %}

{% if ( current_page == 1 and loop.index0 == 0 ) %}
	<div class="search-results-load">
{% elseif ( first_of_the_page and loop.index0 is divisible by(5) ) %}
	<div class="search-results-load row-hidden" style="display: none;">
{% endif %}
	{% if ( is_action ) %}
		<li id="result-row-{{ post.ID }}" class="media search-result-list-item search-result-list-item-bg" style="background-image:linear-gradient(180deg, rgba(213, 239, 242, 1), rgba(255, 255, 255, 0.3)), url('{{ post.thumbnail }}');">
			<div class="blank-block"></div>
	{% else %}
		<li id="result-row-{{ post.ID }}" class="media search-result-list-item">
	{% endif %}

		{% if ( not is_action ) %}
			<img class="d-flex search-result-item-image lazyload"
				data-src="{{ post.thumbnail ?: dummy_thumbnail }}"
				 alt="{{ fn('esc_attr', post.thumbnail_alt|default( post.post_title ) )|raw }}" />
		{% endif %}

		<div id="tease-{{ post.ID }}" class="media-body search-result-item-body tease tease-{{ post.post_type }}">
			<div class="search-result-item-flex-title">
				<div>
					{% if ( is_archive or is_campaign ) %}
						<div class="search-results-alternative-label search-results-alternative-label-mobile">
							{% if ( is_campaign ) %}
								{{ __( 'Campaign', 'planet4-master-theme' ) }}
							{% elseif ( is_archive ) %}
								{{ __( 'Archive', 'planet4-master-theme' ) }}
							{% endif %}
						</div>
					{% endif %}

					<div class="search-result-tags top-page-tags">
						{% for page_type in post.p4_page_types %}
							<a class="search-result-item-head no-btn tag-item tag-item--main page-type" href="{{ fn('get_term_link', page_type.term_id) }}">{{ page_type.name|e('wp_kses_post')|raw }}</a>
						{% endfor %}

						{% if (post.tags) %}
							<div class="tag-wrap tags">
								{% for tag in post.tags %}
									<a href="{{ tag.link }}" class="search-result-item-tag tag-item tag">#{{ tag.name|e('wp_kses_post')|raw }}</a>
								{% endfor %}
							</div>
						{% endif %}
					</div>

					{% if ( is_document ) %}
						{% set title = post.post_title|e('wp_kses_post') %}
						<a href="{{ fn('wp_get_attachment_url', post.id) }}" class="search-result-item-headline">{{ title|raw|length > 30 ? ( title|striptags|slice(0, 30) ~ '...' )|raw  : title|raw }}</a>
					{% elseif ( is_archive ) %}
						<a href="{{ post.link }}" target="_blank" class="search-result-item-headline archive">{{ post.post_title|e('wp_kses_post')|raw }}</a>
					{% else %}
						<a href="{{ post.link }}" class="search-result-item-headline">{{ post.post_title|e('wp_kses_post')|raw }}</a>
					{% endif %}

					{% if ( 'page' != post.post_type ) %}
						<div class="search-result-item-info">
							<span class="search-result-item-date">{{ post.post_date|date('d/m/Y') }}</span>
						</div>
					{% endif %}
				</div>
				<div>
					{% if ( is_action ) %}
						{%  set link_text = settings['take_action_covers_button_text'] %}
						<a href="{{ post.link }}" class="btn btn-primary btn-medium btn-small">{{ link_text ?: __( 'take action', 'planet4-master-theme' ) }}</a>
					{% elseif ( is_document ) %}
						<a href="{{ fn('wp_get_attachment_url', post.id) }}" download class="btn btn-small btn-secondary">
							{{ __( 'Download', 'planet4-master-theme' ) }}
						</a>
					{% elseif ( is_campaign or is_archive ) %}
						<div class="search-results-alternative-label">
							{% if is_campaign %}
								{{ __( 'Campaign', 'planet4-master-theme' ) }}
							{% elseif is_archive %}
								{{ __( 'Archive', 'planet4-master-theme' ) }}
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>

			<p class="search-result-item-content">{{ post.post_excerpt|default(post.post_content)|excerpt( 25 )|raw }}</p>
			{% if post.edit_link %}
				<a href="{{ post.edit_link|raw }}">{{ __('Manage', 'planet4-master-theme') }}</a>
			{% endif %}
		</div>
	</li>
{% if ( ( loop.index0 % 5 == 4 ) or loop.last ) %}
	</div>
{% endif %}
