{% block ml_list_content %}
    <div class="ml-media-frame-content">
        <div class="attachments-browser">

            {% if ( data.error_message ) %}
                <div class="uploader-inline ">
                    <div class="uploader-inline-content has-upload-message">
                        <div class="ml-error">
                            <h2 class="upload-message">{{ data.error_message }}</h2>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="hidden" id="ml_loader">
                <img src="/wp-admin/images/wpspin_light-2x.gif"/>
            </div>

            <div class="media-toolbar ml-media-toolbar">
                <div class="media-toolbar-secondary">
                    <span class="spinner" id="ml_loader"></span>
                </div>
                <div class="media-toolbar-primary ml-search-form">
                    <label for="ml-media-search-input" class="screen-reader-text">{{ __( 'Search Media', data.domain ) }}</label>
                    <input type="search" placeholder="Search media items..." id="ml-media-search-input" class="search ml-search">
                    <input type="hidden" id="ml_current_page" value="1">
                </div>
            </div>

            <ul tabindex="-1" class="attachments ui-sortable-disabled ml-media-list" id="selectable-images">
                {% for image in data.image_list %}
                    <li tabindex="0" data-id="{{ image['gpml_image_id'] }}" class="attachment save-ready details"
                        onclick="select_image(this); return false;">
                        <div class="attachment-preview js--select-attachment type-image subtype-jpeg landscape">
                            <div class="thumbnail">
                                <div class="centered">
                                    <img src="{{ image['image_url'] }}" width="150px" height="150px" draggable="false"
                                         alt="{{ image['image_title'] }}">
                                    <input type="hidden" id="ml-title" value="{{ image['image_title'] }}">
                                    <input type="hidden" id="ml-caption" value="{{ image['image_caption'] }}">
                                    <input type="hidden" id="ml-alt" value="{{ image['image_title'] }}">
                                    <input type="hidden" id="ml-description" value="{{ image['image_caption'] }}">
                                    <input type="hidden" id="ml-credit" value="{{ image['image_credit'] }}">
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="media-sidebar ml-media-sidebar" style="display: none;">
            <div tabindex="0" data-id="" class="attachment-details save-ready">
                <h2>
                    {{ __('Greenpeace Media Details', data.domain ) }}
                </h2>
                <div class="attachment-info">
                    <div class="thumbnail thumbnail-image">

                        <img class="ml-image" src="#" draggable="false" alt="">

                    </div>
                    <div class="details">
                        <div class="filename ml-filename"></div>
                        <!-- To DO: Below fields need to make dynamic. -->
                        <!--
                        <div class="uploaded ml-file-date">June 11, 2018</div>

                        <div class="file-size ml-file-size">2 MB</div>

                        <div class="dimensions ml-file-dimensions">2500 × 1667</div>
                        -->

                        <div class="ml-media-selection empty">
                            <div class="selection-info">
                                <span class="count"><span id="images_count">0</span> {{ __( 'selected', data.domain ) }}</span>
                                <button type="button" class="button-link clear-selection" id="clear_images">{{ __( 'Clear', data.domain ) }}</button>
                            </div>
                        </div>

                        <div class="ml-media-toolbar-primary search-form">
                            <button type="button" class="button media-button button-primary button-large ml-button-insert"
                                    id="ml-button-insert" disabled="disabled">{{ __( 'Insert into WP media & post', data.domain ) }}
                            </button>
                        </div>
                    </div>
                </div>

                <label class="setting" data-setting="url">
                    <span class="name">{{ __( 'URL', data.domain ) }}</span>
                    <input type="text" value="" readonly="" class="ml-url">
                </label>

                <label class="setting" data-setting="title">
                    <span class="name">{{ __( 'Title', data.domain ) }}</span>
                    <input type="text" value="" readonly="" class="ml-title">
                </label>

                <label class="setting" data-setting="caption">
                    <span class="name">{{ __( 'Caption', data.domain ) }}</span>
                    <textarea readonly="" class="ml-caption"></textarea>
                </label>

                <label class="setting" data-setting="alt">
                    <span class="name">{{ __( 'Alt Text', data.domain ) }}</span>
                    <input type="text" value="" readonly="" class="ml-alt">
                </label>

                <label class="setting" data-setting="description">
                    <span class="name">{{ __( 'Description', data.domain ) }}</span>
                    <textarea readonly="" class="ml-description"></textarea>
                </label>
            </div>
            <form class="compat-item">
                <table class="compat-attachment-fields">
                    <tbody>
                    <tr class="compat-field-credit_text">
                        <th scope="row" class="label">
                            <label for="attachments-credit_text"><span class="alignleft">{{ __( 'Credit', data.domain ) }}</span>
                                <br class="clear">
                            </label>
                        </th>
                        <td class="field">
                            <input type="text" class="text ml-credit" name="attachments" value="" readonly="">
                            <p class="help">{{ __( 'The owner of the image.', data.domain ) }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    <!--
    <div class="ml-media-frame-toolbar">
        <button class="btn btn-medium btn-small btn-secondary more-btn  btn-load-more-click-scroll" data-current_page="1">{{ __( 'SHOW MORE RESULTS', data.domain ) }}</button>
    </div>
    -->
{% endblock %}
