{% block settings_content %}

    {% embed "message.twig" with messages %}{% endembed %}

    <div id="settings_div" class="wrap">
        <h2>{{ __( 'GP Media Library Settings', domain ) }}</h2>
    </div>

    {{ fn( 'settings_errors' ) }}

    <form id="p4ml_main_settings_form" name="p4ml_main_settings_form" method="post" action="options.php"> {# ../../../../wp-admin/options.php #}

        {{ fn( 'settings_fields', 'p4ml_main_settings_group' ) }}
        {{ fn( 'do_settings_sections', 'p4ml_main_settings_group' ) }}

        <br /><br />
        <table class="form-table">
            <tr valign="top">
                <th>{{ __( 'API Username', domain ) }}:</th>
                <td>
                    <input id="p4ml_api_username" name="p4ml_main_settings[p4ml_api_username]" value="{{ settings.p4ml_api_username|e('html_attr') }}" size="50" placeholder="{{ __( 'Enter your GP media library account username', domain ) }}" type="text" />
                </td>
            </tr>
            <tr valign="top">
                <th>{{ __( 'API Password', domain ) }}:</th>
                <td>
                    <input id="p4ml_api_password" name="p4ml_main_settings[p4ml_api_password]" value="{{ settings.p4ml_api_password|e('html_attr') }}" size="50" placeholder="{{ __( 'Enter your GP media library account password', domain ) }}" type="password" />
                </td>
            </tr>
        </table>
        {{ fn( 'submit_button', __( 'Save Changes', domain ), 'primary', 'p4ml_main_settings_save_button' ) }}
    </form>
    <div class="clear"></div>

{% endblock %}